[2013-12-19 02:38] reedacartwright opened #1 "Remove files larger than 1M from Repository"
Cloning the repository takes too long.

[2013-12-19 02:38] #1 closed, assigned to nobody

[2015-01-12 18:12] reedacartwright opened #12 "Function syntax is not portable."
When sh is dash or ash derived (e.g. FreeBSD or Debian), dng.sh fails to run because "function" is not recognized.

[2015-01-12 18:44] reedacartwright commented on #12
Fixed in v1.0.2 e6014ab8ffc3ea58de66a32e4db6230ca6fff19b

[2015-01-12 18:44] #12 closed

[2015-04-25 00:48] reedacartwright opened #17 "Add ZLIB to External Dependencies"
While the ZLIB library is usually installed, the headers might not be.  Therefore we need to support it in ExternalDep.cmake.

[2015-04-25 00:51] reedacartwright opened #18 "Custom Compiler with Boost as External Dependency"
Currently when compiling Boost as an External Dependency we support specifying gcc or clang as the toolset.  Because DNG might be built by setting CC/CXX environmental variables, Boost might try a different compiler version than the one requested.  Therefore, it would be better if Boost also tried to find the same compiler version as dng.

[2015-04-25 00:52] reedacartwright opened #19 "CMake External Downloads Requires HTTPS support."
If CMake is not been compiled with the right flags, downloading external libraries may fail because https is not supported.

[2015-04-25 00:54] reedacartwright opened #20 "External Boost and C++11 Flag"
If Boost finds the wrong CXX compiler, passing --std=c++11 might cause it to fail.

[2015-04-25 00:56] reedacartwright opened #21 "External Eigen3 Sometimes tries to install to /usr/local"
Sometimes external Eigen3's cmake does not know that it needs to be installed in the build directory.  Since all we need are the headers we should probably skip this step.

[2015-04-25 00:58] reedacartwright opened #22 "Throw Warnings or Errors if used with a Pedigree that contains phenotypic data in the sixth column"
Currently `dng call` assumes that the somatic tree is in column 6.  If a user submits an un-edited pedigree, column 6 might contain phenotype 0/1 data.  Therefore, we should move the location of the somatic tree to some where else.

[2015-04-25 00:59] reedacartwright opened #23 "Additional Information on Called Sites"
Currently on PMUT and LL are calcualated for called sites.  Produce more measures of information about a site would be useful.

[2015-04-25 01:00] reedacartwright opened #24 "Enable Multithreading"
Split a job into multiple worker threads and maintain proper sorting of called sites.

[2015-04-25 01:02] reedacartwright opened #25 "Migrate dng-dnm and dng-phaser to the new app format"
This will help standardize algorithms.

[2015-04-25 01:03] reedacartwright opened #26 "Get rid of old dependencies"
Migrate `dng dnm` and `dng phaser` to htslib, boost, eigen, etc.

[2015-04-27 19:37] reedacartwright opened #27 "Calculate P(1 mutation)"
In `dng call` calculate P(single mutation) in addition to P(at least one mutation).

[2015-04-29 20:25] reedacartwright opened #28 "Additional Metrics"
Add some of the metrics from http://arxiv.org/abs/1404.0929 to our vcf output so end users can filter on them.

[2015-04-29 23:15] reedacartwright opened #29 "Triplet Based Mutation Prior"
Use a different mutation expectation depending on the context that a site is in.  This will allow DNG to be more sensitive to mutations that might arise in CpG contexts, etc.

[2015-04-29 23:18] reedacartwright opened #30 "Use Mutation Profiles for Translational Applications"
Idea from the Hurles Group:

If someone knows the P(phenotype | mutation) at a site, then we could incorporate that into the caller for calculate P(mutation|phenotype).  This would help in identifying mutations in a clinical setting.

[2015-04-30 00:53] reedacartwright opened #31 "Jenkins/Travis Support"
Get Jenkins or Travis working (again).

[2015-04-30 20:17] reedacartwright opened #32 "Build Farm"
Develop a build farm for producing binaries for the following architecture:

OSX binaries with 10.7+ support
Linux binaries from Kernel 2.6+ support (CentOS 5)
Windows binaries using MSYS2 and mingw-w64
FreeBSD 10.0
Source Code

[2015-04-30 20:18] reedacartwright opened #33 "Code Beutifier"
Develop an Artistic Style commandline for ensuring consistent source code format between different authors.

http://astyle.sourceforge.net/

[2015-04-30 20:21] reedacartwright commented on #22
Review of other programs indicates that some support phenotypic information in multiple columns.  Therefore we need to detect when someone uses such a pedigree and throw a warning/error.

[2015-05-02 01:30] reedacartwright opened #35 "Testing Framework"
Create a framework for both unit and package tests.

If any sizable datasets are need for testing, upload them to a separate repository.

[2015-05-05 04:54] reedacartwright commented on #33
Possible .astylerc.

[code]

[2015-05-05 05:36] reedacartwright commented on #33
Script to beautify added in  41303306b5
Code beautified in 4a98671bf

[2015-05-05 05:36] #33 closed, assigned to reedacartwright

[2015-05-15 18:04] reedacartwright opened #36 "Indel Support"
Add indel calling support to `dng call`

[2015-05-18 20:45] kaeldai commented on #31
I have a working travis yml file at https://github.com/kaeldai/denovogear/blob/testing/.travis.yml, builds and tests denovogear. However it takes 30 mins to complete, and VM caching may not be possible.

[2015-05-18 20:56] kaeldai commented on #35
There are CMAKE/boosts based unit tests over at https://github.com/kaeldai/denovogear/tree/testing. Included are two simple dng-call package tests - same data, one for VCF input and another for BAM. To run then just build denovogear as cmake .. && make && make test. For the full package test to run you will need to clone the data from https://github.com/kaeldai/testdata.

Will add to the denovogea

[2015-05-18 21:08] stevenhwu commented on #31
Try merge/modify from this one. I got boost/eigen3/bamtools to cache properly. It should work for htslib as well.
https://github.com/stevenhwu/accuMUlate/blob/EM_develop/.travis.yml
https://github.com/stevenhwu/accuMUlate/blob/EM_develop/travis_rebuild_cache.sh

Too much work to merge everything in one file with yml syntax, so the testing caching part is in travis_rebuild_cache.sh

[2015-05-21 00:51] kaeldai opened #38 "Pulling Test Data"
We need a cmake target that will allow users to pull the necessary data from https://github.com/denovogear/testdata in order to run the full package tests.

Allow user to run:
make && make testdata && make test

Also, add instructions to README

[2015-06-02 23:13] reedacartwright opened #39 "Filter on coverage"
Add filters based on the coverage of a site.

[2015-06-03 04:56] reedacartwright commented on #31
@kaeldai Is this closable?

[2015-06-03 05:44] kaeldai commented on #31
Yes, we have the core jenkins system set up. We may want to open another ticket for setting up build nodes for Linux and Mac.

[2015-06-03 05:45] #31 closed, assigned to kaeldai

[2015-06-04 06:13] #17 closed, assigned to nobody

[2015-06-04 06:14] reedacartwright commented on #20
Fixed in 1102929

[2015-06-04 06:14] #20 closed, assigned to nobody

[2015-06-08 17:59] kaeldai commented on #26
Update:
dng-dnm and dng-phaser has been updated to now use htslib 1.2. Code in github.com/kaeldai/denovogear/tree/feature/htslib1.2. Works with the include/dng/hts/ code in develop (as of 06/07/15).

dng-dnm has been tested using SNP mutations for both paired and trio cases (see test/CMakeLists.txt). However dng-phaser and dng-dnm indel mutations has not been tested. Currently I am reverse enginee

[2015-06-08 19:18] reedacartwright commented on #26
Please send a pull request from that branch.

[2015-08-06 20:14] reedacartwright opened #42 "New region specification"
Currently we use htslib to parse a chromosomal region, but it is limited.  We need to develop our own, better region parser.
### A section in a contig

`10:1000-2000`, note that locations are 1-based and both ends are inclusive
### A single position

`10:1000`
### Only the start or end

`10:1000-` vs  `10:-1000`
### Multiple sections

`10:1000-2000; 4000-5000; 11:1000-2000`, note that we avoid usi

[2015-08-06 20:16] reedacartwright opened #43 "Custom ReadGroups"
Problem: Sometimes bam files have missing or problematic read group information.

Solution: Allow read groups to be parsed from a file, which takes precedence over information provided in the bam files.

[2015-08-06 22:18] reedacartwright opened #44 "Support Bed and GFF Formats"

[2015-08-07 00:46] reedacartwright opened #45 "Multiple familes in ped file"
Ped files support multiple families.  Our peeling algorithm supports multiple families.  The construction of peeler can fail if the same name is in multiple families.

[2015-09-14 20:24] kaeldai opened #47 "Fix test cases for CALL_Sample5.3_VCF and CALL_Sample5.3_BAM"
Full suite test-cases for dng-call need to be updated for new caller algorithm.  The command to run the tests are found [here](https://github.com/denovogear/denovogear/blob/develop/test/CMakeLists.txt#L118), and the data is [in the the testdata repository](https://github.com/denovogear/testdata/tree/master/sample_5_3). To fix will need to do the following:
1. Run dng-call with test1.vcf and test1.

[2015-09-14 20:30] reedacartwright opened #48 "Describe the dng call model"
`dng call` contains a new model.  This model needs to be described in the documentation.

[2015-09-14 20:34] reedacartwright opened #49 "Model Validation"
Once #48 is complete, we need to implement the model in a separate program (in R or Python or ???) to ensure that the model calculations and peeling results are accurate.

[2015-09-19 22:34] mattjmeier opened #51 "Override existing read groups in dng call"
Because BAM files produced by different sources will have different ways of writing the RG tags, it would be very useful to have the ability to override existing read groups in the BAM file.

[2015-09-19 22:36] mattjmeier opened #52 "Use SM tag as the individual unit for dng call"
Instead of the library, it would be useful to have the ability to use the sample (SM) tag as a unique identifier within BAM files.

[2015-09-23 23:14] kaeldai commented on #51
I've added a feature to specify what RG tag used to identify libraries by use of "--libtag" option and ran some tests on it. Currently over in my repository at https://github.com/kaeldai/denovogear/tree/feature/read_groups.

However, found an issue with the astyle command on Ubuntu. I want to get it working before I do a pull-request.

[2015-09-24 22:04] reedacartwright opened #54 "Support different inheritance patterns"
Implement a new command line option `--pattern` that supports different modes of inheritance.  This will require the pedigree to generate different peeling operations depending on the inheritance mode.

**Possible Values**
- `autosomal` (the default)
- `xlinked` (females have 2 copies, males have 1; males transmit to daughters, not to sons)
- `ylinked` (males have 1 copy, only transmits it to sons

[2015-10-06 00:46] kaeldai opened #55 "Get @RG information from separate header file"
Add an option, like "--rg", so that dng will gather the read group information from a separate SAM header file, rather than the header from the input files.

Should be a properly formatted SAM header.

Even if multiple BAM/SAM files are used as the input, the file passed into the --rg tag should cover all inputs.

[2015-10-22 00:32] reedacartwright commented on #43
Closing since this is a duplicate of #51

[2015-10-22 00:32] #43 closed, assigned to nobody

[2015-10-22 02:58] kaeldai opened #56 "dnm probabilities maybe too low"
AT/AA/AA
child: 0/1:69,62:131:99:1667,0,1866
father: 0/0:229,0:229:99:0,617,7421
mother: 0/0:168,0:168:99:0,427,5249
population heterozygosity of .001

dng-dnm is calculating a posterior of 0.170505, but another script is indicating the true value is 1.0. Use the attached R script and compare transition matrices with that from dnm.

[2015-10-24 00:42] reedacartwright opened #58 "G-Test for Strand bias throwing error"
When checking for strand bias, the following error can be thrown if coverage is above 512.

[code]

We either have a programming bug in calculating the test statistic for the g-test or we need to handle calculating the p-value for negative values.

[2015-10-24 00:44] reedacartwright commented on #18
Fixed in c7c378e2c469f4c3ec7c8b53d2b03130c313e880

[2015-10-24 00:44] #18 closed, assigned to nobody

[2015-10-24 03:30] #58 closed, assigned to reedacartwright

[2015-10-26 21:19] kaeldai commented on #56
bcf2Qcall.cc::bcf_2qcall(). dnm assumes there is a "X" in the ALT field, otherwise k1 will be negative and will do an out-of-bound lookup on pl_fields.

If the PL is not specified explicit then assign to a high (near zero) phred value.

[2015-10-27 20:45] reedacartwright opened #62 "Calculate Additional Quality Statistics"
# Currently Statistics
- [x] p-value of Fisher's exact test for strand bias
- [x] Ta statistic of Anderson-Darling 2-sample test of mapping quality differences
# New Statistics
- [x] root mean square mapping quality for a site.
- [x] Ta statistic for AD 2-sample read-position difference
- [ ] LRTs calculated using no mutation as null model. (Potential Alts: model parameter, 1 mutation in tree, opt

[2015-10-27 20:46] reedacartwright commented on #52
closed by c36364a

[2015-10-27 20:46] #52 closed, assigned to kaeldai

[2015-10-27 20:47] reedacartwright commented on #28
FS and MQTa have been added

[2015-10-27 20:47] #28 closed, assigned to nobody

[2015-10-27 20:48] reedacartwright commented on #27
Implemented in develop branch

[2015-10-27 20:48] #27 closed, assigned to reedacartwright

[2015-10-28 22:22] kaeldai commented on #47
Taking over.

[2015-10-29 01:37] stevenhwu opened #63 "Implement EM to estimate mutation parameters"

[2015-10-29 01:38] stevenhwu opened #64 "Use Viterbi algorithm to estimate the most likely genotypes"

[2015-10-29 02:14] reedacartwright opened #65 "Calculate Founders More Accuately"
Currently `dng-call` assumes that all founders are samples from independent populations govern by identical finite-sites models.  This simplifies our peeling calculations.  However, they should all come from the same population and be dependent samples:

[code]

There are many ways to improve probability calculations after a site has been found to be a candidate:
- Estimate the allele frequency at

[2015-10-29 02:19] reedacartwright opened #66 "Estimate (non-reference) variation in founders"
Provide the ability to report a site if the founders contain allelic variation.

Open question: should reference be included in this calculation.

[2015-10-29 02:22] reedacartwright commented on #51
Partially solved by 4048532

[2015-10-29 02:29] reedacartwright opened #67 "Call somatic mutations when you don't know the tree."
A star tree produces too low of a probability if used in place of a large tissue tree.

Possible Solutions
- Use something other than DNG to call sample variants.
- Use a dirichlet-multinomial caller to treat somatic variants as coming from a population.

[2015-10-29 22:30] reedacartwright commented on #65
Actually we can do it exactly during the peeling process if we keep track of the expected number of A,C,G,T in the founders.

[2015-10-30 21:48] rachelss opened #69 "Examples don't work"
On a Mac:

Ran dng dnm auto --ped examples/sample_paired.ped --bcf examples/sample_CEU.bcf as instructed in the readme (modified for available files in examples folder). Got

Created SNP lookup table
 First mrate: 1 last: 0
 First code: 9 last: 1
 First target string: AA/AA/AA last: TT/TT/TT
 First tref: 9.66184e-09 last: 2

Created indel lookup table First code: 9 last: 0
 First target string: RR

[2015-10-30 21:59] rachelss opened #70 "tests failing"
On Mac

env CTEST_OUTPUT_ON_FAILURE=1 make test

Verbose output:

[code]

[2015-10-30 22:00] reedacartwright commented on #70
@kaeldai What do you think?

[2015-10-31 03:28] kaeldai commented on #70
It is an issue with boost unit tests. Some combinations of clang/boost don't automatically add a main() to the unit tests, and we need to explicitly define BOOST_TEST_DYN_LINK macro. I was able to reproduce the issue on a linux machine, and have a fix [here](https://github.com/kaeldai/denovogear/tree/hotfix/issue70). I may need to add some extra compilation options to get it to fully work with OSX

[2015-10-31 03:39] kaeldai commented on #69
Yes, the README and the example data has been outdated for some time. [Here](https://github.com/kaeldai/denovogear/tree/feature/cleanup) is a new repository with more up-to-date instructions and a better explanation of dng-call (and removes some old unused code).

Reed and Stephen. If you could, read over the description I made of call and let me know what I could change. The descriptions for dnm

[2015-11-02 23:13] kaeldai commented on #70
@rachelss, when you have time can you pull a new dng-branch from https://github.com/kaeldai/denovogear/tree/hotfix/issue70 and run "make test" again? Thanks.

[2015-11-12 00:48] reedacartwright opened #73 "HTSLib Support"
CMake is not able to find the version of HTSLib in many cases.  We need to link against htslib to extract the version information during the build phase.  Note: this will not work when cross compiling.

[2015-11-12 00:59] #47 closed, assigned to kaeldai

[2015-11-17 22:42] #38 closed, assigned to kaeldai

[2015-11-19 06:41] #26 closed, assigned to kaeldai

[2015-11-19 06:45] reedacartwright commented on #56
Fixed in develop branch.

[2015-11-19 06:45] #56 closed, assigned to kaeldai

[2015-11-19 06:46] reedacartwright commented on #69
Fixed in develop branch.

[2015-11-19 06:46] #69 closed, assigned to kaeldai

[2015-12-15 06:34] reedacartwright opened #77 "Treecall and Py-Editdist do not respect out of source builds"
The following lines in `src/CMakeLists.txt` create files in the source directory, not the build directory.

[code]

Configuring and compiling DNG should not touch the source code directories outside of a build directory.

[2015-12-15 06:37] reedacartwright commented on #77
@rachelss

[2015-12-15 06:47] reedacartwright opened #78 "Treecall and Py-Editdist build during install stage"
Treecall and Py-Editdist delay building until their install stage.  This means that `sudo make install` will create files in the build directory that are owned by root.

Instead, `python setup.py build` should be called by a normal `make` command.

Building these modules should also respect the compilers and options chosen by CMake if possible.

[2015-12-15 06:47] reedacartwright commented on #78
@rachelss

[2015-12-18 19:56] #55 closed, assigned to nobody

[2015-12-18 19:57] reedacartwright commented on #51
Completely solved by ed60c813bc

[2015-12-18 19:57] #51 closed, assigned to kaeldai

[2016-01-12 22:53] #77 closed, assigned to rachelss

[2016-01-12 22:54] reedacartwright commented on #78
Fixed

[2016-01-12 22:54] #78 closed, assigned to rachelss

[2016-01-21 00:05] stevenhwu opened #80 "Test peeling"
Part of #35 and #49
- [ ] Create boost tests for peeling.cc
  - [x] tests for forward peeling
  - [ ] tests for reverse peeling
- [ ] Refactor peeling.cc to reduce redundancy
  - [x] forward peeling
  - [ ] reverse peeling

TODO:
- [ ] Maybe some functions should be in workspace_t
- [ ] Refactor "family". All hard coded, could be parent-child OR Dad-Mom-Child...(children). Better check/test requir

[2016-01-24 01:41] stevenhwu opened #84 "Handling warnings/errors"
Add warning and/or error messages (std::runtime_error ?)
- ped.h
- read_group.h
- pedigree.cc **update:** some additional warning messages in pedigree_v2.cc. Might remove the generic error message in call.cc.

[2016-01-24 02:03] stevenhwu opened #85 "Test pedigree"
**TODO list**
- [x] Refactor pedigree
- [x] Test pedigree.cc
  - [x] on trio
  - [x] bigger pedigree with 12 members
- [ ] Maybe some restructure required in order to implement issue #54
- [ ] Generate and test random pedigree. related to #87

This will be done through several PRs.
- 1st PR #173: Only update the testdata commit id and SHA256
- 2nd PR #187: Rename Pedigree to RelationshipGraph
- 3r

[2016-01-25 00:09] stevenhwu opened #86 "Test code directure structures (test/src/**)"
I really don't like the current way stevenhwu setup the test dir.
There should be several layers and organized properly
- Shared/header at top level:
  - Shared between all tests, such as boost_check_matrix, rng...etc. **update:** Currently, these are placed at `test/src/boost_test_helper.h`
- Shared/header at local level:
  - See **fixture** ~~Shared between similar test classes, e.g. fixture sha

[2016-01-26 21:41] reedacartwright opened #87 "Simulator"
Denovogear needs an efficient way to simulate based on the Tempe model found in `dng call`.

[2016-01-26 21:43] reedacartwright opened #88 "Sample histories and display the sample."
For a given site, Denovogear needs to be able to sample the genotypes in the relationship graph so users can understand their mutation calls.

We also need to provide a way to visualize this genotype space.

[2016-01-26 22:20] kaeldai commented on #87
I have code that simulates pedigrees over at https://github.com/kaeldai/denovogear/tree/pedigreesim. Will create VCF files based on a given reference, need to work out some issues with creating BAM files.

[2016-01-26 23:09] reedacartwright commented on #87
Please provide a checklist in this issue of what needs to be done to the simulator before a pull request can be generated.

[2016-02-08 16:07] woodoo46 opened #89 "No insertions reported in 1.1.1"
Hi, there,

We have compared the results from 0.5.4 and 1.1.1. We found that in 1.1.1, quite a few of indels were removed from 0.5.4 results. Specifically, there is no insertions reported in 1.1.1.

Any thought on this?

Thanks.

George

[2016-02-08 18:19] reedacartwright commented on #89
What is the command line you are using?
On Feb 8, 2016 11:12 AM, "woodoo46" notifications@github.com wrote:

[2016-02-08 20:36] woodoo46 commented on #89
dng dnm auto --bcf  /dev/stdin --ped ped.txt --outvcf_vcf out.vcf .

I am piping the bcf file to the program. I am now testing using --indel_mrate 0.000000001. I saw in the source code the default value of indel_mrate was set to 0.

[2016-02-09 01:42] reedacartwright commented on #89
Okay, let me know what happens.

[2016-02-09 13:36] woodoo46 commented on #89
Still there is no insertion.  The output from the program confirms that the rate is set.
indel mutation rate: 1e-09

Thanks.

[2016-02-10 00:32] reedacartwright commented on #89
@kaeldai Can you look at this?

[2016-02-10 20:44] reedacartwright opened #91 "PythonLibs is not found"
If a machine does not have the python development headers and libraries installed it will toss the following error message.

[code]

Is PythonLibs needed?  If so we need to add documentation about it or work around this error.

[2016-02-10 20:45] reedacartwright opened #92 "Selectively disable modules"
Allow CMake to skip certain targets if we cannot satisfy their dependencies.  This could be automatic or by using a flag.

[2016-02-10 23:16] kaeldai opened #93 "<X> support in call"
DNG Call needs to be able to fully support VCF input files with <X> in the alternative alleles field, found in old bcftools output in place of the N.
- [ ] Create dng-call test case that has both <X> and N's in the alternative allele field.

[2016-02-11 16:50] kaeldai commented on #93
In the BCF generated by SAMtools, an non-ref base 'X' represents an base has not been seen from the alignment data. Such a base is necessary to evaluate the probability of missing a non-ref allele due to sampling fluctuation.

[2016-02-11 17:04] kaeldai commented on #93
htslib parses 'X' and '<X>' in the ALT fields. However the denovogear code is causing segmentation faults. I'm still investigating, but it appears to happen because in matrix.h it assumes that there are 16 possible genotype combinations and doesn't take into account a possible X allele.

More importantly, call doesn't handle 'N' in the ALT allele for the same reason.

[2016-02-12 05:36] reedacartwright opened #98 "Clean Up Tests"
Make tests more robust by doing the following:
- [x] Tests that require binaries should have them as dependencies.
- [x] Tests that require testdata should depend on that target.
- [x] Testdata should download to the cmake binary/build directory
- [x] Testdata should be download a specific commit archive from github.
- [x] For writing new tests, the testdata directory should be able to be overridd

[2016-02-12 05:59] reedacartwright opened #99 "Compiling Difficulty"
Users are still having difficulty compiling Denovogear on Linux.  This includes finding dependencies and specifying the correct compiler.  The documentation/wiki should be expanded to provide instructions for compiling on different distributions.

At the same time we need to improved the error messages that are generated when trying to compile with an out-of-date compiler like gcc 4.4.
- [ ] Distr

[2016-02-12 20:42] reedacartwright opened #100 "Release Engineering"
Add to developer information a Release Engineering checklist.
- [ ] Figure out what should be the process
- [ ] Add it to our developer information.

[2016-02-17 21:55] #98 closed, assigned to reedacartwright

[2016-02-23 14:23] woodoo46 commented on #89
Any update on this?

[2016-02-23 15:06] kaeldai commented on #89
Yes, should be fixed in pull request #101. Closing.

[2016-02-23 15:06] #89 closed, assigned to kaeldai

[2016-02-23 16:22] woodoo46 commented on #89
So I just recheck out the code, and compile it?

[2016-02-23 16:23] reedacartwright commented on #89
Yes, it's on the develop branch and will be in the next release.
On Feb 23, 2016 9:22 AM, "woodoo46" notifications@github.com wrote:

[2016-02-23 23:58] kaeldai opened #103 "Create templates for issue requests"
Would like a way in github create a template for users to fill out before filing issues. New feature to github, see https://github.com/blog/2111-issue-and-pull-request-templates.

[2016-02-24 01:35] reedacartwright commented on #103
And contributing / pull requests.
On Feb 23, 2016 4:58 PM, "Kael Dai" notifications@github.com wrote:

[2016-02-24 02:47] stevenhwu opened #107 "Test code coverage on jenkin"
Beside compile and run the tests on Jenkin, maybe we should calculate some sort of code coverage for each PR and pre-release.

Maybe something like
- [cobertura](https://wiki.jenkins-ci.org/display/JENKINS/Cobertura+Plugin)
- [gcovr/gcov](http://gcovr.com/guide.html)

Not sure what is the best way to store (if we want to) coverage report.

[2016-02-24 02:57] stevenhwu commented on #70
_low priority_
by default github link "Test #[0-9]+", "Test #70" in the comment to issues and PR.
One way to hack around it is put into `code`. e.g. `#100`
Are these any other hack we can use?

[2016-02-24 03:16] dwinter commented on #70
@stevenhwu Apparently and kind of styling. So
- `**#**70` = **#**70
- `*#*70` = _#_70
- `_#_ 70` = _#_70

But these come from the output of tests right? We could use a template (#103) that asks uses to place all the output in one big code block:

[code]

[2016-02-24 03:19] dwinter commented on #103
FWIW, here's a pretty generic [`CONTRIBUTING.md`](https://github.com/ropensci/rentrez/blob/master/CONTRIBUTING.md) , modified from the one ROpenSci uses for all projects. Very different project of course, but the instructions about setting up clones for PR might help.

[2016-02-24 05:17] reedacartwright commented on #107
I think we need to have a CMake option like `-DENABLE_TEST_COVERAGE=on` that will change the compiling options so that `make test` will generate coverage information.

[2016-02-24 05:37] reedacartwright commented on #103
Some ideas from khmer:

http://khmer.readthedocs.org/en/v2.0/user/getting-help.html

http://khmer.readthedocs.org/en/v2.0/dev/coding-guidelines-and-review.html

[2016-02-24 05:37] reedacartwright commented on #99
See this discussion for khmer:

https://github.com/dib-lab/khmer/issues/598

[2016-02-24 05:38] reedacartwright commented on #93
@maip How close are we to getting a pull request?

[2016-02-24 05:41] reedacartwright commented on #70
Update the OP to use code blocks

[2016-02-24 17:43] maip commented on #93
I'll try and get that in by Friday.

[2016-03-02 00:54] #93 closed, assigned to maip

[2016-03-02 16:20] woodoo46 commented on #89
When will you push out new release?

[2016-03-02 16:41] reedacartwright commented on #89
I don't know.  Hopefully soon.  Are you having problems compiling from
develop?
On Mar 2, 2016 9:34 AM, "woodoo46" notifications@github.com wrote:

[2016-03-03 03:15] stevenhwu opened #110 "make test gives false negative result for CALL_Sample5.3_VCF"
### Where

on develop branch, for `./test/CMakeLists.txt` at line 136-144. start with `ADD_TEST(CALL_Sample5.3_VCF ...`
Most likely somewhere else as well.
### How to reproduce it

if we change line 139-143 (first 5 line of PASS_REGULAR_EXPRESSION) to something crazy, i.e. replace 0/0 with 1/2 and append random characters.

[code]

and run the test with
`cd build/;rm -r *;cmake ..;make testdata;ma

[2016-03-03 05:37] stevenhwu opened #111 "CALL_Sample5.3_VCF_ALT fail under release mode but not debug mode"
## BUG

`make test` - CALL_Sample5.3_VCF_ALT fail under release mode but not debug mode
### How to reproduce it

Ran it twice, once in release, once in debug mode.
`cd build;`
**release mode**
`rm -r *;cmake -DCMAKE_BUILD_TYPE=release ..;make testdata;make dng-call; ctest -VV -R "CALL_Sample5.3_VCF_ALT"`

got the following error message

[code]

**debug mode**
`rm -r *;cmake -DCMAKE_BUILD_TYPE=deb

[2016-03-03 05:41] stevenhwu commented on #111
How to get the number for both PR and Issue at the same time? So we don't have to go back and forth and change it.

[2016-03-03 05:57] reedacartwright commented on #111
A pull request is a special type of issue.  You can just create a pull request to represent the issue.

[2016-03-03 06:19] reedacartwright commented on #111
Fixed in #112

[2016-03-03 06:19] #111 closed, assigned to nobody

[2016-03-03 13:46] woodoo46 commented on #89
I would like ask my admin to install it; so it is better to have something formal (sort of).

BTW, it is not clear how you guys change the algorithm on calling variants on X. There were thousands of calls on X for a male child. Can you explain a little bit? Or you can point me some documentation to read.

Thanks.

[2016-03-05 00:44] reedacartwright opened #114 "Update External Dependencies"
Evaluate external dependencies for upgrade possibilities.  Htslib and Eigen have recent releases that have improved performance.

[2016-03-05 00:47] reedacartwright commented on #25
@kaeldai What is the progress on this?

[2016-03-05 01:11] kaeldai commented on #25
dnm and phaser now uses Task classes to initialize, just like Call. Closing

[2016-03-05 01:11] #25 closed, assigned to nobody

[2016-03-05 05:58] reedacartwright commented on #110
Look at https://github.com/Kitware/CMake/tree/master/Tests for examples of complicated tests.  I'm sure we will find something there that helps us.

[2016-03-07 05:58] reedacartwright opened #115 "ninja always runs setup.py build"
When building with ninja, `setup.py build` is always run as if they are phony objects.  If we can only run these when necessary it would be great.

[code]

[2016-03-07 20:05] reedacartwright opened #116 "template_arity_spec.hpp message"
`dng/utilities.h` includes `boost/spirit/include/karma.hpp` when eventually includes `boost/type_traits/detail/template_arity_spec.hpp` which is depreciated (at least in boost 1.60).  This messages should be silenced or worked around if possible.

[code]

[2016-03-07 20:07] reedacartwright opened #117 "Python.h: warning: "_POSIX_C_SOURCE" redefined"
There appears to be an issue with the order in which `Python.h` is included.  The internets suggest that it should be the first header to prevent this message.

[code]

[2016-03-08 00:11] reedacartwright opened #119 "CRAM Tests"
We currently do not test CRAM files the same way we test SAM and BAM files.  Fix this.

[2016-03-10 21:36] #42 closed, assigned to reedacartwright

[2016-03-16 17:27] jgarciamesa opened #122 "Cmake build external not finding python"
I run:
cmake -DBUILD_EXTERNAL_PROJECTS=1 ..
error log:
CMake Error at /usr/local/share/cmake-3.5/Modules/FindPackageHandleStandardArgs.cmake:148 (message):
  Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS)
  (Required is at least version "2.7")
Call Stack (most recent call first):
  /usr/local/share/cmake-3.5/Modules/FindPackageHandleStandardArgs.cmake:388 (_FPHSA_FAILURE

[2016-03-16 17:33] jgarciamesa commented on #122
Fixed with running:
sudo apt-get install python-dev
This is on ubuntu machine

[2016-03-16 17:56] jgarciamesa opened #123 "Build external on ubuntu doesn't support https"
Run cmake with build externals on ubuntu with the default cmake fails to download packages for eigen and htslib because the use of https instead of http

[2016-03-16 18:35] kaeldai commented on #123
Doesn't work when fetching cmake from the utopic library, or building cmake on ubuntu. The issue is with libcurl.

Will work when downloading and running the precompiled Linux x86_64 binary.

[2016-03-16 18:44] reedacartwright commented on #123
Duplicate of #19

[2016-03-16 18:45] reedacartwright commented on #122
Duplicate of #91

[2016-03-16 19:06] kaeldai opened #124 "DNM: Support PL float types"
For VCF v4.0 PL's can be stored as floats. Need to check what type it is before making call to bcf_get_format_int32()

[2016-03-16 19:15] aistrand opened #125 "Information used from vcf file by dng dnm?"
Hi,

I would like to know which fields/information dng dnm uses from the input vcf file to determine which sites have putative mutations. I understand the program uses genotype likelihoods (and also read depth for filtering purposes). Genotype likelihoods are present in the FORMAT field for each individual. Are there any other fields that are used by your program/model?

Thanks,
Alva

[2016-03-16 19:17] reedacartwright commented on #125
@gatoravi @dconrad, do you know?

[2016-03-16 19:18] reedacartwright commented on #124
Reported by @aistrand.

[2016-03-16 19:21] reedacartwright commented on #110
@kaeldai Do we have any good solutions for this?

[2016-03-16 19:27] jgarciamesa opened #126 "BCF file in the sample CEU test case fails"
BCF file not supported when running the sample CEU test case.

[2016-03-16 19:33] gatoravi commented on #125
Hi,
The model uses the PL field which contains the likelihoods, it also uses the depth and mapping quality fields for filtering.
Avi

[2016-03-16 19:34] kaeldai commented on #125
DNM can also use the [I16 mapping qualities](http://samtools.sourceforge.net/mpileup.shtml), inserted as a list in the INFO field. However it's not required.

[2016-03-16 19:34] aistrand commented on #125
OK great, thanks!

[2016-03-16 19:37] aistrand commented on #125
What are the specific filtering criteria that are used for read depth (rd_cutoff) and mapping quality? Could not find specific values in your documentation.

[2016-03-16 19:50] kaeldai commented on #110
Not really, cmake doesn't have any support for appending multiple properties together in an AND'd list. We need to create a function that wraps around set_properties().

[2016-03-16 19:54] reedacartwright commented on #110
Then the solution is that we use a cmake script to call the binary and test that all the regexes pass.

See https://github.com/Kitware/CMake/blob/master/Tests/CMakeTestAllGenerators/RunCMake.cmake for inspiration.

[2016-03-16 20:00] gatoravi commented on #125
When you run the program with no parameters you will see that the default read-depth cutoff is set to 10, this is the value within the parantheses,

[code]

You can set this value to something else(same goes for --pp_cutoff). I think the mapping quality filter has been turned off for now.

[2016-03-22 18:04] #124 closed, assigned to kaeldai

[2016-03-23 17:45] #126 closed, assigned to jgarciamesa

[2016-03-27 03:16] reedacartwright commented on #110
Progress is being made: https://github.com/reedacartwright/denovogear/tree/feature/issue-110

[2016-03-27 06:30] reedacartwright opened #131 "DNG-DNM Tests Failing"
In the process of correcting #110 the testing system is being redesigned.  This has revealed that two tests on `dng-dnm` are actually failing.

In the nomenclature of the new framework these are `DngDnm.Auto.PairVcf` and `DngDnm.Auto.TrioAT`.

These errors appear to have to do with genotype indices, and likely have to do with how legacy code interacts with Eigen.

[2016-03-27 06:36] reedacartwright opened #132 "DNG-CALL Vcf Alt drops sites unexpectedly."
While solving #110, the testing system is being revamped.  It has been discovered that in the new/renamed `DngCall.Vcf.TrioAlt` test that the following line produces no output even if `-m 0` is set.

[code]

This suggests that, if `X` is the only ALT, the depth of the reference allele is set to 0.

[2016-03-28 06:59] #110 closed, assigned to reedacartwright

[2016-03-28 07:46] #19 closed, assigned to nobody

[2016-03-28 07:46] #21 closed, assigned to nobody

[2016-03-28 07:46] #114 closed, assigned to nobody

[2016-03-28 07:46] #123 closed, assigned to nobody

[2016-03-28 20:29] kaeldai opened #135 "BCF unit test"
Look at the unit tests for bcf.h.

[2016-04-03 05:34] #115 closed, assigned to rachelss

[2016-04-03 05:34] #117 closed, assigned to rachelss

[2016-04-07 01:05] reedacartwright commented on #119
Fixed

[2016-04-07 01:05] #119 closed, assigned to jgarciamesa

[2016-04-07 01:06] reedacartwright commented on #125
Alva, I think your question has been answered, so I will close this thread.

[2016-04-07 01:06] #125 closed, assigned to nobody

[2016-04-07 01:10] reedacartwright commented on #86
#133 Changed how we are doing tests.

There is now a `Tests` directory which supports both Unit testing and Process testing.  A couple CMake helper functions have been created to support the creation of tests using a common format.

Unit tests are now placed in a directory structure based on CXX namespaces, with the idea that unit tests should be namespace based and not file based.

[2016-04-07 01:59] aistrand commented on #125
Sure, thanks!

Alva

On Wed, Apr 6, 2016 at 9:06 PM, Reed A. Cartwright <notifications@github.com

[2016-04-15 23:18] #131 closed, assigned to kaeldai

[2016-04-19 22:31] reedacartwright opened #141 "VCF output not working in dng-dnm."
Email from a user:

[2016-04-30 05:23] reedacartwright opened #143 "Finalize the usage of the new dng-pileup program"
- [ ] Support `bgzip` and `lz4c` compressed `tad` and `ad` files
- [ ] Design index format for tad and ad files
- [ ] Add library and UI to create and use indexes
- [ ] Design site and sample (?) filtering rules for `dng-pileup`
- [ ] Add support for tad and ad files to dng-call
- [ ] Add support for tad and ad files to dng-loglike
- [ ] Profile code and test performance

[2016-05-02 12:27] gpcr opened #145 "[bcf_sync] incorrect number of fields (0 != 5)"
samtools mpileup -g -t DP -f hs37d5.fa  child.bam father.bam mother.bam -r 9 |  dng dnm auto --ped Fam.ped --rd_cutoff 10 --output testFam.vcf --snp_mrate 2e-10 --indel_mrate 1e-11 --bcf -

DeNovoGear v1.1.1-203-g58010a8-dirty

read depth filter: 10
output vcf file: testFam.vcf
SNP mutation rate: 2e-10
indel mutation rate: 1e-11
Created SNP lookup table
 First mrate: 1 last: 1
 First code: 6 last:

[2016-05-02 17:13] reedacartwright commented on #145
What version of Samtools are you using?

[2016-05-02 17:24] reedacartwright commented on #145
@kaeldai I think we have seen this before, correct?

[2016-05-02 17:28] gpcr commented on #145
Version: 1.2-10-gb7ac1e2 (using htslib 1.2.1-25-gc5521ee)

[2016-05-02 18:15] kaeldai commented on #145
We've had similar problems caused by the way samtools organizes read-groups. Sometimes samtools will create multiple vcf genotype columns per individual and the program has trouble resolving the fields to the pedigree.

Would it be possible to send us the vcf header created by the samtools mpileup command?

[2016-05-02 18:58] gpcr commented on #145
[code]

[2016-05-02 19:32] kaeldai commented on #145
Do you have the last line of the header, that starts with #CHROM?

[2016-05-02 19:36] gpcr commented on #145
[code]

[2016-05-03 00:00] kaeldai commented on #145
The small sample you sent works fine with dnm. Based on some further research the problem may be with samtools being suddenly interrupted during the pileup.

Have you tried running the samtools mpileup command by-itself, sending output to a file, then using the file as dng input?

[2016-05-04 10:17] stanedav opened #147 "Denovogear trio - generates empty vcf file"
Hello,
I I work on trios and I am trying to use denovogear. In our lab we are using two softwares for analysis - Surecall and NextGENe. I am able to make denovogear output from bam files generated in Surecall.
But I have problem with NextGENe files, after running denovogear I will get empty vcf file and also in command line no progress is seen.
My workflow is:
1) BAM files generated by NextGene (b

[2016-05-05 22:30] reedacartwright commented on #147
@kaeldai what do you think?

[2016-05-05 22:56] kaeldai commented on #147
It looks like DNM is not finding any snps or indels to analyze. This can happen if there's not any valid reference or alternative alleles at any sites.

Would it be possible to see some of the merged data in vcf format? The header and the first few sites should be good enough.

[2016-05-23 22:58] natepalmer opened #148 "Boost 1.61 on Mac"
$ cmake ..
-- DeNovoGear version is 1.1.1-207-g72d43d2
-- Boost version: 1.61.0
-- Found the following Boost libraries:
--   program_options
--   filesystem
--   system
--   unit_test_framework
CMake Warning at Modules/LibFindMacros.cmake:191 (message):
  The find module for HTSLIB does not provide version information, so we'll
  just assume that it is OK.  Please fix the module or remove package

[2016-05-25 18:32] jgarciamesa commented on #132
When there is an X in the alternative allele htslib does not treat it as a variant. It treats it as if there was a '.' in the ALT column. According to samtools mpileup:
In the BCF generated by SAMtools, an non-ref base 'X' represents an base has not been seen from the alignment data. Such a base is necessary to evaluate the probability of missing a non-ref allele due to sampling fluctuation.
@reed

[2016-05-25 23:41] jgarciamesa commented on #132
The VCFPileup function checks that the record for the current line of the vcf input file is for an SNP. If it is an SNP then processes the record otherwise skips the current line. As it is implemented on htslib, when the ALT is only 'X' it is not treated as a variant, so there is no output for the following line.

`5     126385929     .     G     X     0     PASS      LL=-74.6814;PMUT=1     AD

[2016-05-25 23:48] reedacartwright commented on #132
Okay. We need to change the algorithm so that it processes the site even if it is not polymorphic.  We want to skip indels, not sites like this.

[2016-06-01 21:59] natepalmer commented on #148
This issue doesn't occur with Boost 1.60

[2016-06-03 20:31] reedacartwright commented on #148
Our existing behavior is relying on a bug that was fixed in the following commit to boost move.

https://github.com/boostorg/move/commit/541f28037db36525f61e72a5d8ca3f86ac43f9a0

We will need to figure out the correct way to access `is_safe_autounlink::value`

[2016-06-03 20:45] reedacartwright commented on #148
We can probably replace with the if with

[code]

[2016-06-04 00:44] reedacartwright opened #150 "dng-dnm VCF Output assumes a single trio"
When `dng-dnm` will call mutations in every individual with parents in the pedigree file. However, when writing a `vcf` file it assumes that the sample names are from the first family:

https://github.com/denovogear/denovogear/blob/develop/src/dng-dnm.cc#L210

We have two options.
1. Change the vcf output to support all families, requiring additional book keeping as to whether a site has a mutatio

[2016-06-04 01:03] reedacartwright opened #151 "dng-dnm assumes DP is zero"
`dng-dnm` measures coverage using the DP format-tag or I16 info-tag. If those are missing from a VCF it will assume that the depth is 0 and not produce output.

We have two options to fix this:
1. Better documentation and error/warning messages
2. Change the behavior such that if DP and I16 are missing the site is not filtered.

Reported by Michael Kessler

[2016-06-07 16:26] kaeldai opened #153 "Create distribution packages"
Create binary packages for various OS's:
- [ ] .deb for Debian and Ubuntu
- [ ] .rpm for Redhat
- [ ] .pkg for Arch
- [ ] Package/Ports for FreeBSD
- [ ] Packages for OSX/Homebrew

Also, look into what is required to get denovogear package into the official repository.

[2016-06-07 17:26] jgarciamesa commented on #103
@kaeldai @reedacartwright @stevenhwu
I just create an issue template. If you can take a look at it and give me some feedback, I would appreciate it.
https://github.com/jgarc111/denovogear/tree/issue_103_templates/.github

[2016-06-07 19:48] #148 closed, assigned to nobody

[2016-06-07 20:04] #132 closed, assigned to jgarciamesa

[2016-06-07 21:09] druvus commented on #153
I would also be happy if you could add [Bioconda](https://bioconda.github.io/recipes/denovogear/README.html) to the list for future releases. It already contain a recipe for the current versin but it would be nice if you could push an update once you have an upcoming release.

[2016-06-08 23:47] rachelss opened #155 "Use new version of treecall"
The latest version of treecall is https://github.com/rachelss/treecall/tree/pyvcf - it should replace the old version currently in denovogear. The new version is no longer dependent on editdist, but is dependent on pyvcf and ete2.

[2016-06-09 22:24] natepalmer commented on #141
Per `dng dnm --help`, --vcf / -v are for reading input from vcf; the appropriate option to use here is --write / -w.
However, this seems to be broken.

[code]

[2016-06-10 17:05] kaeldai commented on #44
@reedacartwright, just to clarify, are you looking to modify the "--region" option to handle bed/gff files as well as literals?

[2016-06-13 18:03] reedacartwright commented on #44
Samtools uses regions to create iterators and then uses bed/gff files to exclude/include sites from the regions.  We can do this, or we could focus just on the region format and provide a way to generate regions from bed/gff/vcf format.  We can down the road think of ways to optimize the reading of files if we have complex regions.

[2016-06-13 18:05] reedacartwright commented on #141
@kaeldai Can you recreate this segfault?

[2016-06-13 18:38] kaeldai commented on #44
For parsing VCF files by regions, synced_bcf_reader.h has functions for parsing either string-literals or BED files. dng-dnm.cc has code using synced_bcf_reader.h (although a bit more is needed to read in BED regions) which could be added in vcfpileup.h.

[2016-06-15 02:10] #86 closed, assigned to stevenhwu

[2016-06-15 02:42] stevenhwu opened #157 "BOOST Floating point comparison"
Reed: We should make this configurable somehow from a CMake run. It is important to test both absolute equality and threshold-based equality.

Note: Boost provided three levels of check, so `<level>` is one of the following `{WARN, CHECK, REQUIRE}`
- For absolute equality, i.e. string/char, `BOOST_<level>` and `BOOST_<level>_EQUAL` should be sufficient for most of the cases.
- For [floating point

[2016-06-23 19:49] zmertens commented on #73
I wanted to try to build DenovoGear on my machine (Linux Mint 17.2), and I ran into this CMake warning and I was able to resolve it by [building HTSlib 1.3.1 from source](https://github.com/samtools/htslib/tree/master).

Additionally, there might be an issue with the Debian-based package manager on Linux Mint. First, I had downloaded HTSlib using `apt-get` and it said the package in the repositori

[2016-06-24 22:11] stevenhwu opened #161 "FindMutations and MutationStats class"
These two classes aim to refactor call.cc into more manageable scale.
- `FindMutation` class - Handle workspace_t and peeling forward/backward.
- `MutationStats` class - Calculate and store all stats in DNG.

This will be break into several (n=?) PR. Each PR will address one or a few of the following (subject to change).
- [x] Refactor FindMutation from call.cc into it's own class without any addi

[2016-06-27 19:23] kaeldai opened #165 "Rerunning vcf output"
The VCF output of call may add extra tags and formatting to the name of each column of the genotype. If a user reruns the output through call it may not be able to match the column names with the ped file.

One possible solution is to use the PEDIGREE tags in the metadata if call can't match up columns to pedigree.

[2016-06-29 08:15] stevenhwu opened #166 "Labels on issues"
- Here is what I got so far. We can try it a bit and update it later. Any other suggestions?
- There are two main groups of labels I would like to add, `Priority-*` and `Type-*`. I suggest we use them in the following way. Once we are happy with these, we should move some of these to wiki.
- The aim is not to labels 100% of the issues. if can can labels 75% of the issues, then I think we are doing

[2016-06-29 08:29] stevenhwu commented on #70
Is this one ready to close?

[2016-06-29 20:00] stevenhwu commented on #153
I think this one can be merged with #32

[2016-06-29 20:03] stevenhwu commented on #99
Currently on Jenkins
- [x] Ubuntu
- [x] FreeBSD10
- [x] Ubuntu_Boost161
- [x] Fedora
- [x] Arch
- [x] Darwin13
- [x] master - ?FreeBSD?

We also tested for different version of Boost. With the above setup, the oldest is 1.55 and the latest one is 1.61

[2016-07-01 22:47] anderspitman opened #168 "Don't use system python for treecall"
[src/treecall/CMakeLists.txt](https://github.com/denovogear/denovogear/blob/a4602dcd5890d76046bdb7031d7ce987834ef650/src/treecall/CMakeLists.txt) currently uses cmake's `PythonInterp` and `PythonLibs` functionality, which will use the system python (ie /usr/bin/python or similar). This confused me at first as I'm used to using `virtualenv` or `conda` environments for Python, which modify your path

[2016-07-01 23:07] anderspitman commented on #168
Nevermind. I just double checked and realized I had Python 3 on my path. If I use a Python 2.7 environment cmake appears to grab that version. So I believe it already works as I would prefer.

[2016-07-01 23:07] #168 closed, assigned to nobody

[2016-07-19 08:45] reedacartwright opened #171 "RPATH does not reflect lib directory"
When installing to a custom directory, RPATH is set to the PREFIX, not the LIB directory.

E.G.

[code]

[2016-07-20 21:15] zmertens opened #172 "<Eigen/Sparse> must be included to compile certain files due to changes in Eigen3.2.9"
The `<Eigen/Sparse>` header must be included before `<Eigen/KroneckerProduct>` in order to to compile `matrix.h`, `snpLike.cc`, `pairLike.cc`, and `indelLike.cc` files.

This issue appears to be a change started in the Eigen 3.2.9 libraries and persists in the latest package found in the Ubuntu xenial repositories.
I tested:
- [Eigen 3.2.0-8 on Ubuntu 14.04 "trusty"](http://packages.ubuntu.com/tru

[2016-07-20 21:33] kaeldai commented on #172
Once I'm able to I will create a test machine with Eigen 3.2.9. @zryan3, what version of Mint were you using?

[2016-07-20 21:49] zmertens commented on #172
@kaeldai 17.3

[2016-07-22 02:19] reedacartwright opened #175 "Optimize Peeling Machine"
Currently the peeling machine is a vector of pointers to functions which gets called  with arguments.

[code]

We should evaluate whether this is the most efficient strategy.  Options include
- [ ] Vector of function pointers (current configuration)
- [ ] Vector of `std::function` objects to type erase the underlying function/functor/etc (more flexible option)
- [ ] Vector of functor objects with

[2016-07-26 21:14] jgarc111 commented on #151
I have already change it so it doesn't stop if there is no DP or I16 information-tag, but I was wondering what information would be interesting to show on the error message beyond "BCF PARSING ERROR - Skipping site".

[2016-08-12 21:19] kaeldai commented on #172
Zach, can you do a pull request. We have a [jenkins test machine with Mint that is running into the same issue](http://jenkins.cartwrig.ht/job/DeNovoGear/label=Mint/117/console).

[2016-08-15 23:27] #172 closed, assigned to nobody

[2016-08-20 00:40] #141 closed, assigned to kaeldai

[2016-08-26 23:07] dwinter opened #183 "Document site statistics"
VCF's produced by `dng call` include `INFO` fields associated with two statistical tests, Fishers's exact test and the 2-sample Anderson-Darling test.

If would be useful to document these statistical tests and provide users some idea of how to interpret them. I have made a start on doing this for `accMUlate`, which uses the same tests, so am opening this issue as a reminder that there is some doc

[2016-08-30 21:45] anderspitman commented on #91
Note for the future: once the newer version of treecall that no longer depends on editdist is integrated, this dependency will also go away.

[2016-09-02 07:18] #44 closed, assigned to kaeldai, jgarciamesa

[2016-09-03 20:40] reedacartwright opened #185 "Jenkins Clock Synchronization"
Jenkins agents need to keep their clocks in sync with the master node.
- [ ] Expose the ntpd service on the master node to the agents.
- [ ] Set the agents clocks to UTC and their timezones to Arizona
- [ ] Run an NTPD or equivalent service on the agents and point it to the master node.

[2016-09-07 01:34] anderspitman opened #186 "CMake still checks for gnu make when using ninja"
Not sure if make is always a dependency of CMake but if not there's no need to check this.

[2016-09-07 02:46] reedacartwright commented on #186
I don't believe this is a bug as some of our external dependencies require GNU make, so we need to find it even if we use Ninja for the main project

[2016-09-07 02:46] #186 closed, assigned to nobody

[2016-09-07 20:27] stevenhwu commented on #107
As far as I know, Cobertura is running on Jenkin already. What's next? @anderspitman

[2016-09-07 20:38] anderspitman commented on #107
We haven't quite finished getting it up and running, but we're close.

[2016-09-07 21:04] stevenhwu commented on #32
Current nodes on Jenkins.
- Maybe we want to keep track of the distribution versions (e.g. Fedora 24, Ubuntu 16.04 ...etc).
- How about packages version? This might be too much work.

**List of active nodes**
- Arch
- master (is this a FreeBSD dist?)
- FreeBSD9
- FreeBSD10
- Fedora
- Mint
- Ubuntu
- Darwin13
- CentOS (old version of Boost)
- OpenBSD (not fully c++11 compatible)

**Other nodes**
-

[2016-09-07 21:18] kaeldai commented on #32
CentOS is active, it's being used for testing AccuMUlate. However it just won't compile Denovogear with it's default version of Boost. This probably means the same will occur with older versions of RedHat.

OpenBSD also has some errors compiling DNG, issues with distro version of gcc and clang not fully C++11 compatable.

[2016-09-07 21:30] kaeldai commented on #32
Just for reference; CentOS 7 uses Boost 1.53 in it's default repository. There are other non-official libraries that yum can pull newer versions of Boost from - but this may be asking too much from some users.

I'm not yet sure what version RedHat is using, I'll do some more digging and post when I find out.

[2016-09-14 01:40] anderspitman commented on #107
@stevenhwu and I discovered unexpected behavior with the way we're currently doing coverage. Basically gcovr isn't counting source files that don't get run during the tests, so it's inflating our results. We managed to get "100% coverage" by running a single unit test. I'm working to track this down now.

[2016-09-19 22:20] stevenhwu commented on #166
Since github introduce `Project` function, should we replace Type-*\* labels with functions? Any suggestions/recommendations?

[2016-09-29 00:01] stevenhwu commented on #85
- Going to close this issue, majority of the core tasks are done. Started working on #54, so any additional restructure and refactor will be related to #54.
- Generate and test random pedigree. related to #87. This can be stand alone
- Print out pedigree as ASCII art. @anderspitman is working on a even better version to replace this.

[2016-09-29 00:01] #85 closed, assigned to stevenhwu

[2016-10-04 19:32] stevenhwu commented on #183
Slightly related to #48

[2016-10-04 19:33] stevenhwu commented on #48
**TODO**
- [ ] Document site statistics #183

[2016-10-04 23:03] stevenhwu commented on #24
Related to PR #177 and `dng/multithread.h`

[2016-10-04 23:08] stevenhwu commented on #35
With the current setup, [testdata](https://github.com/denovogear/testdata) and #113, I think we can **close** this one. The framework is there, we just need to implement the actual tests.

Others issues are relate to Jenkin and farms

[2016-10-06 21:02] stevenhwu commented on #88
@anderspitman: Going to tag you here, sinc you are working on the visualization of the RelationshipGraph

[2016-10-18 22:03] stevenhwu commented on #54
Previous and future PR:
- [x] Refactor RelationshipGraph Class #190
- [x] Introduce multiple inheritance model #193
- [ ] Add tests and R codes for mutation/peeling #194
- [ ] Introduce Y_Linked inheritance model #197
- [ ] Introduce X_Linked inheritance model

[2016-10-18 22:20] stevenhwu commented on #49
Some R scripts for this are at `Tests/script/R`
We got scripts for
- `mutation.cc - mitosis_haploid_matrix, mitosis_diploid_matrix, meiosis_haploid_matrix, meiosis_diploid_matrix`
- Testing peeling forward for trio and relationship_graph_m12
- Some tests peeling for y-linked

[2016-10-20 23:17] anderspitman opened #198 "bcfdata is unnecessarily a vector"
[See here](https://github.com/denovogear/denovogear/blob/36bbe9970266389a8a66a5887502fa418e05c45f/src/lib/task/call.cc#L245)

Is there a reason for this? As near as I can tell only the first index is ever used, and it's use is hard coded.

[2016-10-21 01:12] kaeldai commented on #198
Because we can't initialize a bcf:File object without a bcf file, which we won't have if the user passes in bam files, we need a wrapper or use a (smart) pointer. I used a vector as a wrapper because in the future we may want handle multiple vcf files like gatk does.

[2016-10-26 22:43] zmertens opened #200 "Use EXT_DEPS variable in ExternalDep.cmake for Zlib and Boost path prefixes"
In the `denovogear/Modules/ExternalDep.cmake` file, the Boost and Zlib PREFIX paths in the `ExternalProject_add` macro is hardcoded and not using the CMake variable, `EXT_PREFIX`, which is set at the top of the CMake file. This could potentially lead to path error if the prefix is (ever) changed someday.

_Recommended solution:_
- [line 100] `PREFIX ext_deps/zlib` --> `PREFIX "${EXT_PREFIX}/zlib"`

[2016-10-26 23:10] stevenhwu commented on #200
Do you mind create a pull request for this?
This make sense to me and it's used for Eigen3 and htslib already

[2016-11-10 16:34] kaeldai opened #204 "Add .ad/.tad support to call"
dng-call should support .ad and .tad variant formats.

[2016-11-10 19:53] kaeldai opened #205 "dng-loglike seg-faults on bam input"
In loglike.cc process_bam, call to h->target_name[contig] is throwing a segmentation fault. Likely it is due to the fact that the "##contig" line has not yet been set.

[2016-11-11 21:37] stevenhwu opened #206 "DNG pre-release or patch release"
Current release is `v1.1.1` on Apr 20, 2015. There are many features and bug fixes after that point.

We should have some sort of update release once every X months. This could be `v1.1.x` patch update with minor bug fixes, or tag it as `v2.0.x pre-release` or `v2.0.x pre-alpha`.

This should help promoting DNG at conference and to non-git user.

[2016-11-14 18:39] zmertens commented on #200
Fixed by #201

[2016-11-14 18:39] #200 closed, assigned to nobody

[2016-11-16 23:12] kaeldai opened #208 "dng-call add region support for tad file"
Need to add region support for tad/ad input files once issue #204 is completed.

[2016-12-07 21:12] kaeldai opened #209 "dng-loglike, dng-call, dng-pileup segfaults on bam"
Using command
./src/dng-loglike -p ~/testdata/sample_5_3/ceu.ped ~/testdata/sample_5_3/test1.bam

Creates most of the vcf header but missing #contig and column labels. Also fails with test1.sam

[2016-12-07 21:40] #205 closed, assigned to nobody

[2016-12-07 21:41] kaeldai commented on #209
In loglike.cc process_bam, call to h->target_name[contig] is throwing a segmentation fault. Likely it is due to the fact that the "##contig" line has not yet been set.

[2016-12-14 21:12] kaeldai commented on #198
This is no longer relevant. Issue #204 removed the use of a vector for bcfdata.

[2016-12-14 21:12] #198 closed, assigned to nobody

[2016-12-16 01:16] stevenhwu opened #211 "Segmentation fault from dng-loglike with partial PED and full AD"
When run dng-loglike with partial PED and full AD got `Segmentation fault (core dumped)`

### Original dataset
`human_trio/trio.fasta.gz` and `human_trio/trio.bam`

#### File name terminology
- **Full**: refers to files with all 3 individuals from the trio. `NA789192.ped` and `NA789192.ad`

- **partial**: files with only 2 individuals.
`NA{SM_1}{SM_2}.`
`NA7891` -> only has `NA12878 and NA12891`

[2016-12-16 20:46] stevenhwu commented on #48
**TODO**
We need to describe how does RelationshipGraph parse the "Column 6: Sample IDs; a newick-formatted tree". Users need to know there is an extra branch at the root
case 1: If there are one Samples ID
case 2: newick without branch length, everything == 1
case 3: newick with branch length, set root to something sensible.
.... and other cases....

[2017-01-23 22:35] stevenhwu opened #214 "dng-pileup: Segmentation fault when converts from tad to ad"
Two test files are created `pTest1.ad` and `pTest1.tad` from the same ref and bam.

[code]

[2017-02-20 13:02] YulongNiu commented on #145
Hi,
I got a similar error message

`dng dnm auto --ped trio.ped --bcf dnm_call_chr2.bcf`

DeNovoGear v1.1.1

Created SNP lookup table
 First mrate: 1 last: 1
 First code: 6 last: 6
 First target string: AA/AA/AA last: TT/TT/TT
 First tref: 0.0002388 last: 0.99301

Created indel lookup table First code: 6 last: 6
 First target string: RR/RR/RR last: DD/DD/DD
 First prior: 0.05 last: 0.114

Created

[2017-03-22 17:50] stevenhwu opened #216 "DNG call ignore ALT tag with ID string"
DNG call ignore ALT tag with ID string
[code]
the output will read ALT as `<`

Thanks @cryancampbell

Testfile (sorry, github only take txt)
[testAlt.vcf.txt](https://github.com/denovogear/denovogear/files/862349/testAlt.vcf.txt)
`tail`
[code]

`dng-call -p ceu.ped testAlt.vcf -m 0`
[code]
the output will read ALT as `<`

[2017-03-22 17:57] stevenhwu opened #217 "DNG Call PL field"
`dng call` gets `Segmentation fault (core dumped)` when PL is used.
- Implement warning/debugging message.

[code]

Thanks @cryancampbell

[2017-05-10 00:22] reedacartwright opened #218 "Permission issue with dng"
When running `dng help` an error occurs and external binaries are not listed.  The error is `find: invalid mode ‘+111`. According to the `find` man page:

              This is no longer supported (and  has  been  deprecated  since  2005).   Use  -perm  /mode
              instead.

[2017-05-20 18:51] stanedav opened #219 "dng-dnm error when using GATK vcf: "PL field is missing, unable to process records. Exiting!""
Hello,

I have problem during installation - after adding all depencies (Htslib and Eigen), I am able to perform cmake step with this output:

[code]
But when I try to run command sudo make in build folder I will get this error:

[code]

Please help me with this issue.

Thank you very much

[2017-05-20 23:37] reedacartwright commented on #219
Please try the 'develop' branch, I think we have fixed it there.

On May 20, 2017 11:51, "stanedav" <notifications@github.com> wrote:

[2017-05-21 21:03] stanedav commented on #219
Hello @reedacartwright thanks for help, with develop branch I was able to install dng properly...
Now I have problem when I try to run trio:
[code]
I have bcf file created by samtools mpileup and bams were created by GATK best practices pipeline. Any idea how to solve it? Thanks

[2017-05-31 07:11] reedacartwright commented on #219
@stanedav dng dnm was created to work with `samtools mpileup` output. I'm not surprised that it doesn't like a GATK vcf. Can you post the header of your bcf file and the first few sites.  I'm pretty sure I know what the problem is, but I need to see your file to make sure.

[2017-06-16 22:51] #54 closed, assigned to stevenhwu

[2017-06-16 22:52] reedacartwright commented on #216
Should be fixed in #220.

[2017-06-16 22:52] #216 closed, assigned to nobody

[2017-06-16 22:52] reedacartwright commented on #204
Fixed in #220.

[2017-06-16 22:52] #204 closed, assigned to nobody

[2017-06-16 22:53] reedacartwright commented on #157
Fixed in #220.

[2017-06-16 22:53] #157 closed, assigned to stevenhwu

[2017-06-19 19:16] reedacartwright commented on #185
I think this is mostly solved.

[2017-06-19 19:16] #185 closed, assigned to nobody

[2017-06-20 12:32] stanedav commented on #219
@reedacartwright
Hello, thanks for answer, here is first few lines of bcf:
[code]

[2017-06-26 21:59] jgarciamesa commented on #151
Testing with different sites as VCF inpdut and looking into the code I have observed that if the site contains the PL format-tag it won't produce an error and will keep filtering the following sites. Otherwise, if the PL format-tag is missing it will throw a BCF parsing error: `BCF PARSING ERROR - Trios!`. If I am not mistaken, I would edit it so when the PL format-tag is not found it throws a mor

[2017-06-28 19:40] AisaacO opened #223 "Visibility of dng develop branch"
It will be good to make the develop branch of dng more visible in the documentation, at least for now, until it is merged with the master. The master currently encounters problems installing on Ubuntu 16.10.

[2017-07-01 00:24] reedacartwright commented on #219
@jgarc111 Can you look into this one as well?

[2017-07-01 00:25] reedacartwright commented on #218
Closed in #222

[2017-07-01 00:25] #218 closed, assigned to jgarciamesa

[2017-07-01 00:26] reedacartwright commented on #151
Yes, that sounds reasonable.

[2017-07-03 15:52] jgarciamesa commented on #219
Of course, I will work on it.

[2017-07-05 21:28] jgarciamesa commented on #219
@stanedav With the latest merged commits to the 'develop' branch this should be fixed. Please update DeNovoGear to include the last improvements made and try again, please. Let me know if the issue is not solved.

[2017-07-13 11:57] stanedav commented on #219
@jgarc111 @reedacartwright  Thank you very much guys, its working now. Good job!

[2017-07-13 11:57] #219 closed, assigned to jgarciamesa

[2017-08-03 04:28] #214 closed, assigned to nobody

[2017-08-03 05:33] reedacartwright commented on #211
No longer reproducible (and probably fixed) in develop branch.

[2017-08-03 05:33] #211 closed, assigned to nobody

[2017-08-05 00:41] reedacartwright commented on #171
Closing for now

[2017-08-05 00:41] #171 closed, assigned to nobody

[2017-08-07 20:13] jgarciamesa commented on #151
This seems to have been fixed on merged pull request #224.

[2017-08-07 20:13] #151 closed, assigned to jgarciamesa

[2017-08-08 21:55] jgarciamesa commented on #217
Seems like the issue has been solved by the latest updates to the develop branch. Now `dng call` when using PL tag on a `VCF` file does not throw a `Segmentation fault` error message. However, if you could double check it I would appreciate it @stevenhwu .

[2017-08-10 17:48] MatthewMaher commented on #145
Was this mystery ever resolved?

I just downloaded **denovogear** (v1.1.1-Linux-x86_64) to try it out, but sadly I'm getting the same error.  I would try to investigate further, but I do not really understand what the message means.
My input file is a VCF produced by GATK.  I see that denovogear wants BCF so I used bcftools (v1.1) to convert the vcf to bcf, like so:

`bcftools view -O b -o input.b

[2017-08-10 20:03] jgarciamesa commented on #145
This bug had to do with samtools and an upgrade on the VCF format version. That happened after the release of v1.1.1. However, on the current develop branch this has been fixed. I would suggest to clone the repository and use that branch, as that and other bugs have been already fixed. Installing instructions can be found here: https://github.com/denovogear/denovogear#installation

[2017-08-10 20:08] jgarciamesa commented on #145
Fixed in develop.

[2017-08-10 20:08] #145 closed, assigned to nobody

[2017-08-11 19:44] jgarciamesa commented on #209
The error is thrown because in case a bam/sam/cram file is given it must be checked that also a fasta file is provided, otherwise there is no reference data.

[2017-08-16 04:17] #209 closed, assigned to stevenhwu, jgarciamesa

[2017-08-28 07:26] stanedav opened #234 "[dng-dnm][1.1.1 develop] Consumes all available RAM then its get killed by system"
Hello guys,

I have this issue with denovogear - I am using Ubuntu 16.04 and I tested this behaviour on two machines - one with 8 GB ram and second with 32 GB ram.
I am running this command:
`dng dnm auto --ped pedfile.ped --bcf bcffile.bcf -w output.vcf (tried also without -w and also with " > output.txt"`
After a while dng gets "Killed" by system, because all memory and swap is consumed. (I chec

[2017-08-29 20:38] reedacartwright opened #235 "Missing data in AD fields"
`dng call` and `dng loglike` do not properly handle the BCF missing data special value in an AD field.

They should detect the value and replace it with 0.

[2017-08-29 20:43] reedacartwright opened #236 "Support GL and PL fields when processing BCF"
When processing a BCF file, we can either calculate our own genotype likelihoods from the AD fields, or use the values calculated in a GL or PL field.  Creating an option to dng-call and dng-loglike would allow the user to choose which data in the BCF is used.

https://samtools.github.io/hts-specs/VCFv4.2.pdf

[2017-08-29 20:45] reedacartwright commented on #236
Tagging @dconrad.

[2017-08-29 20:47] reedacartwright commented on #217
See #236.

[2017-08-29 20:47] #217 closed, assigned to jgarciamesa

[2017-08-31 23:04] jgarciamesa opened #237 "Unit test dng::regions fails in Fedora 26"
-- Fedora 26
-- Boost version: 1.60.0
-- htslib & samtools version: 1.5
[code]

[2017-08-31 23:09] reedacartwright commented on #237
What version of HTSLIB did you compile agains?

--
Reed A. Cartwright, PhD
Barrett Honors Faculty
Assistant Professor of Genomics, Evolution, and Bioinformatics
School of Life Sciences
Human and Comparative Genomics Laboratory
The Biodesign Institute
Arizona State University
==================
Availability: http://links.asu.edu/CartwrightCalendar
Address: The Biodesign Institute, PO Box 875301, Te

[2017-08-31 23:13] jgarciamesa commented on #237
I have HTSLIB version 1.5-16

[2017-08-31 23:16] reedacartwright commented on #237
Sounds like this test is failing, probably because `hts::version()` is not parsing the version number properly.

https://github.com/denovogear/denovogear/blob/b97689f218fec183b55cb86bfe6dad4e814f3373/Tests/Unit/dng/regions.cc#L95

[2017-09-19 21:36] #237 closed, assigned to jgarciamesa

[2017-09-22 21:12] #235 closed, assigned to jgarciamesa

[2017-10-17 03:10] RodenLuo commented on #234
so how did you solve this problem. I also met this

[2017-10-17 04:42] reedacartwright commented on #234
We need more details and a test case to identify the cause. @jgarc111

On Oct 16, 2017 8:10 PM, "RodenLuo" <notifications@github.com> wrote:

so how did you solve this problem. I also met this

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/denovogear/denovogear/issues/234#issuecomment-337104981>,
or mute the

[2017-10-20 18:39] jgarciamesa commented on #234
I have run the command with a local data set and I couldn't replicate the error. I would recommend to update to the newest version of DeNovoGear. It would also be helpful for us to run the same data set with `dng call` to see what the behaviour is. If the problem still persists, please send the header lines and the first couple lines of the bcf file in order the address the error.

[2018-01-12 09:13] stanedav commented on #234
Hi @reedacartwright, I would like to provide more details about this problem and try to solve it. I have prepared trio with bcf file (I have also bams available) and the latest version of dng. Do you think I can send you the data to test it?

Thanks

[2018-01-12 19:33] reedacartwright commented on #234
Email me directly, and I will send you a dropbox location to upload your files.

[2018-01-16 23:57] reedacartwright commented on #107
Resolved

[2018-01-16 23:57] #107 closed, assigned to nobody

[2018-01-17 00:02] reedacartwright opened #247 "Optimize Region Handling"
DNG currently handles indexed files inefficiently if the regions are near one another. DNG should be able to intelligently shift between jumping and streaming to get to the next regions.

- [ ] Separate output regions from input regions.
  - [ ] BAM
  - [ ] AD
- [ ] Collapse input regions if they are near one another
- [ ] Make "near" toggle-able ?
- [ ] Stream between output regions that are part

[2018-01-17 00:25] reedacartwright opened #248 "New TAD and AD Formats"
After using TAD and AD for a while, the following improvements are planned

# TAD
 - [ ] Shift to a VCF-like header, using '##' for meta data
 - [ ] Add a header line, beginning with '#CHROM' and specifying the library names
 - [ ] Change alleles to be comma separated, and support multi-nucleotide alleles
 - [ ] Require alleles with missing information to be included in the counts fields
 - [ ] Us

[2018-01-17 20:35] simonzzc034 opened #249 "DenovoGear v1.1.1 run didn't call any denovo insertions"
I recently run your tool on 10K+ trios.  There were denovo SNVs, deletions called, but not a single denovo insertion was called. Any insight why that could have happened? Thanks!

[2018-01-17 20:43] reedacartwright commented on #249
Please post the command line you used to call mutations. Some of the tools do not yet support indel calling.

[2018-01-17 21:09] simonzzc034 commented on #249
I used GATK HC to get gvcf files on the samples, then get the variant called in a VCF format using GATK joint genotyping on the gvcf. The VCF files, which contained SNVs and INDELs,  were then input to your tool. But I just noticed that the "Phred-scaled genotype likelihoods" from GATK is very different than these from Samtools mpileup and that messed up things I guess since that's the main thing

[2018-01-17 21:15] reedacartwright commented on #249
I assume that you used `dng dnm` then?  I am working to make `dng call` compatible with both GATK and Samtools genotype likelihoods.

[2018-01-17 21:22] simonzzc034 commented on #249
That's right. I was under the impression that you were asking how I called my initial variants. For you tool, I did use dng dnm --ped pedFile, --vcf VCFfile. Thanks Reed!

[2018-01-22 08:41] zhangjianruwang commented on #234
I have a problem of  core dumped.
I tried many running environment and feel the problem is caused by BCF file format.
the command I use to produce BCF is:
"samtools mpileup -gDf ref.fa father.bam mother.bam brother1.bam brother2.bam sister1.bam > bcffile.bcf"
should I use only 1 offspring?

[2018-01-22 20:58] reedacartwright opened #250 "SegFault in dng dnm"
From @zhangjianruwang

I tried many running environment and feel the problem is caused by BCF file format.
the command I use to produce BCF is:
"samtools mpileup -gDf ref.fa father.bam mother.bam brother1.bam brother2.bam sister1.bam > bcffile.bcf"
should I use only 1 offspring?

[2018-01-22 20:58] reedacartwright commented on #234
@zhangjianruwang, I moved your report to issue #250

[2018-01-22 21:00] reedacartwright commented on #250
`dng dnm` assumes that it is given a trio. I am not sure how robust it is if given something other than a trio.

If you want to estimate mutations from a large pedigree, you should look at `dng call` in the developed branch. It supports calling mutations using general zero-loop pedigrees.

[2018-02-04 22:20] dconrad commented on #249
Hi Simonzzc034  - are your 10K trios for the DDD project at the Sanger Institute, or is this something else? There are not too many 10K trio datasets out there, so I was just curious...

[2018-02-04 22:27] reedacartwright commented on #249
@simonzzc034, Sorry that I didn't respond earlier. `dng dnm` is designed to work with the output of samtools/bcftools variant calling pipeline. It expects `PL` fields.  We have an open issue #236 for improving `dng dnm` and `dng call` to support additional fields.

[2018-02-05 14:33] simonzzc034 commented on #249
@dconrad, it is a separate data set but in collaboration with Sanger
Institute DDD,
https://globenewswire.com/news-release/2017/02/01/912907/0/en/OPKO-S-GeneDx-Announces-Research-Collaboration-with-the-Wellcome-Trust-Sanger-Institute.html

On Sun, Feb 4, 2018 at 5:20 PM, dconrad <notifications@github.com> wrote:

[2018-02-16 18:08] jgarciamesa commented on #234
Hello @stanedav, I could not replicate your problem. However, I was able to detect and solve a memory leak on `dng dnm`. Once the changes are merged into our develop branch, I expect it to be soon, I encourage you to pull them and try to run the command again. I had no issues running the files you sent us, but if you encounter any problems let me know.

[2018-02-16 18:12] jgarciamesa commented on #250
Hello @zhangjianruwang, I recently was able to fix a "core dumped" error on `dng dnm`. The changes should be merged into our develop branch soon. Please, once they are merged, try to re-run your command with those changes. You should not encounter any problems.

[2018-02-22 08:20] stanedav commented on #234
Hello @jgarc111 thank you, I would like to try the new develop version with fixed memory leak.
But I am getting this error after calling
`sudo make install`

[code]
Could you help me with this error?

Thanks

[2018-03-01 22:02] reedacartwright opened #255 "Bioconda Recipe"
Bioconda is an environment to build and distribute bioinformatics software. Denovogear needs to have a recipe on bioconda.

https://bioconda.github.io/contribute-a-recipe.html

[2018-03-01 22:30] druvus commented on #255
denovogear is included in Bioconda but the recipe is currently "blacklisted" due to some [boost issues](https://github.com/bioconda/bioconda-recipes/blob/master/boost-1.61-migration-blacklist) so it hasn't been rebuilt using current pinnings.

You need to remove denovogear from that file to build an updated recipe.

[2018-03-01 22:36] reedacartwright commented on #255
I was unaware that Denovogear had a recipe and it was blacklisted.  The develop branch works with boost 1.61, and I see that [bioconda is trying to build 1.1.1](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/denovogear/meta.yaml). Do you know if bioconda builds packages for stable, but "beta" branches?

[2018-03-02 21:19] druvus commented on #255
It is ok to build stable beta releases. You can use specific commit by using an url like this: https://github.com/denovogear/denovogear/archive/fa3a553f6be3cee2e6314e49e0347f124e5f86a5.tar.gz

But it is of course preferable to tag a release.

[2018-03-03 00:35] jgarciamesa commented on #234
Hello @stanedav, we have fixed that issue. Please update to the latest version of our develop branch and build it. If there were any errors, let me know.

[2018-03-03 00:36] reedacartwright commented on #255
@jgarc111, let's use commit id 95209cc8a32e4bbe274819d1a07ab3f91b1cfa67

[2018-03-08 21:49] #122 closed, assigned to nobody

[2018-03-08 21:51] jgarciamesa commented on #73
Solved in #253

[2018-03-08 21:51] #73 closed, assigned to nobody

[2018-03-08 22:02] jgarciamesa commented on #91
As of my understanding, PythonLibs requirement was removed in #254

[2018-03-08 22:02] #91 closed, assigned to rachelss

[2018-03-30 06:00] reedacartwright commented on #255
@jgarc111, can you post the compiler failure you are having with gcc 4.8.2

[2018-03-30 17:42] jgarciamesa commented on #255
With gcc 4.8.4 the error message is:
`In file included from /home/ubuntu/denovogear/src/lib/../include/dng/io/ad.h:33:0,
                 from /home/ubuntu/denovogear/src/lib/ad.cc:22:
/home/ubuntu/denovogear/src/lib/../include/dng/io/file.h: In constructor ‘dng::io::File::File(dng::io::File&&)’:
/home/ubuntu/denovogear/src/lib/../include/dng/io/file.h:98:33: error: use of deleted function ‘std::b

[2018-03-31 01:02] reedacartwright commented on #255
@jgarc111, does https://github.com/reedacartwright/denovogear/tree/bugfix/MovingFstream solve the issue?

[2018-03-31 02:36] jgarciamesa commented on #255
@reedacartwright, unfortunately it doesn't. More accurate information about the compiler failure might be found [here](https://circleci.com/gh/bioconda/bioconda-recipes/6904?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build).

[2018-03-31 20:03] reedacartwright commented on #255
I made some more changes to the branch. So please try it again.

--
Reed A. Cartwright, PhD
Barrett Honors Faculty
Assistant Professor of Genomics, Evolution, and Bioinformatics
School of Life Sciences
Human and Comparative Genomics Laboratory
The Biodesign Institute
Arizona State University
==================
Availability: http://links.asu.edu/CartwrightCalendar
Address: The Biodesign Institute,

[2018-04-02 20:21] jgarciamesa commented on #255
It compiled successfully (with gcc 4.8.4 and boost 1.64.0).

[2018-04-03 08:59] zhangjianruwang commented on #250
@reedacartwright    I have tried a trio calling, but also got errors.
@jgarc111   I can find the commits at 20th Feb,2018.  But there is no update in the release page.    how can I apply your changes.

[2018-04-03 17:35] jgarciamesa commented on #250
@zhangjianruwang You can find the most recent changes in the develop branch. You can either clone the repository and checkout the develop branch or download our most recent beta version. Instructions for that can be found [here](https://github.com/denovogear/denovogear#installation)

[2018-04-03 17:42] zhangjianruwang commented on #250
thank you for your explanation.  I didn't noticed that.

[2018-04-04 09:44] zhangjianruwang commented on #255
so how long is it before we can use conda to install denovogear-develop version?

[2018-04-04 10:02] zhangjianruwang opened #260 "BCF: incorrect number of fields (6 != 5) at 927143687:4074044"
the command I use to produce BCF is
samtools mpileup -gDf hg19 female.bam male.bam offspring.bam

          the colume title of BCF is
#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT  female  male  offspring

          the command I use to call denovo mutations is
dng dnm auto --ped   ped   --bcf  bcf

          and I got this error in two trios
 incorrect number of fields (

[2018-04-04 10:04] zhangjianruwang commented on #260
So what the error is?  how can I solve it?

[2018-04-04 16:52] #250 closed, assigned to nobody

[2018-04-04 17:15] jgarciamesa commented on #255
We are on the process of updating the bioconda recipe for denovogear and I expect it to be done soon. As soon as it's available I will let you know.

[2018-04-04 19:15] jgarciamesa commented on #260
What version of bfctools are you using? (`bcftools --version`) Also, what version of DeNovoGear are you using?

[2018-04-04 19:19] reedacartwright commented on #260
The error occurs when you use a recent version of bcftools with an old
version of dng dnm. Try installing from the develop branch.

--
Reed A. Cartwright, PhD
Barrett Honors Faculty
Assistant Professor of Genomics, Evolution, and Bioinformatics
School of Life Sciences
Human and Comparative Genomics Laboratory
The Biodesign Institute
Arizona State University
==================
Availability: http://

[2018-04-17 09:00] Antoine-Fav opened #262 "Problem during the make step of the installation"
Hello,

I am trying to install denovogear on a server but during the "make" step I get these error messages:
[code]
We are using Redhat 6, with c++0x compiler. Boost and Eigen were successfully installed.  Any clue on what the problem might be?

By the way, I also tried with docker installation from the link: docker pull quay.io/biocontainers/denovogear with command line: docker pull quay.io/bioco

[2018-04-17 13:50] Antoine-Fav commented on #262
By the way, I also tried with docker installation from the link: docker pull quay.io/biocontainers/denovogear with command line: docker pull quay.io/biocontainers/denovogear. Unfortunately I got another error as following:
[code]
In advance, thanks a lot for your help.

[2018-04-17 17:36] jgarciamesa commented on #262
Hello @Antoine-Fav, please try the develop branch, where you can find our most recent changes.

[2018-04-18 21:45] reedacartwright commented on #255
The fix has been merged with the develop branch.

[2018-04-19 22:24] reedacartwright commented on #260
Marking: Resolved in Develop branch.

[2018-04-19 22:24] #260 closed, assigned to nobody

[2018-04-19 22:26] #234 closed, assigned to nobody

[2018-04-26 15:10] MikeHala opened #265 "dng dnm VCF output : off-by-one?"
Hello,

I am using denovogear (1.1.1), samtools (1.6) and bcftools (1.6), ref genome hg38.

The command I used to call the denovos in WGS human trio data  (male proband) was:
time samtools mpileup -t DP -gf ${REF_SEQ} ${DATA_DIR}/${PRO_ID}.chrX.bam ${DATA_DIR}/${DAD_ID}.chrX.bam ${DATA_DIR}/${MOM_ID}.chrX.bam | bcftools norm -m-both | grep -v '<\*>'  | dng dnm XS --ped ${PED_FILE} --bcf - --write

[2018-04-26 17:09] reedacartwright commented on #265
Can you try the develop branch of DNG to see if it fixes the issue?

Also can you check your pipe and see if the issue occurs before the data is
sent to dng dnm?

On Thu, Apr 26, 2018, 08:11 MikeHala <notifications@github.com> wrote:

[2018-04-27 21:37] jielab opened #266 "Total number of SNP sites interrogated: 0"
Dear all:

I have a small VCF file (2Mb) for a trio, which I generated by using "bcftools merge *vcf.gz | bcftools convert -Oz -o trio.vcf.gz ". I now put this VCF file at
https://www.dropbox.com/s/dr19jlu89ai02ev/trio.vcf.gz?dl=0

Then I tried to run it with denovogear, with the command of "dng dnm auto --rd_cutoff 0 --ped sample.ped --bcf trio.vcf.gz".

However, please refer to the log below. So

[2018-04-27 21:42] reedacartwright commented on #266
Please post a copy of your ped as well.

[2018-04-27 21:56] jielab commented on #266
below is my sample.ped file:

1 18-CG-15-07932_S5_R1_001 0 0 1 0
1 18-CG-15-07931_S4_R1_001 0 0 2 0
1 18-CG-15-07930_S3_R1_001 18-CG-15-07932_S5_R1_001 18-CG-15-07931_S4_R1_001 1 1

[2018-04-29 08:18] jielab commented on #266
Yes, I posted. Thanks!

jie

From: Reed A. Cartwright <notifications@github.com>
Sent: 2018年4月27日 17:43
To: denovogear/denovogear <denovogear@noreply.github.com>
Cc: jiehuang001 <jiehuang001@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [denovogear/denovogear] Total number of SNP sites interrogated: 0 (#266)

Please post a copy of your ped here.

—
You are receiving this because you

[2018-04-30 22:43] jielab commented on #266
Can someone please help me out on this?
Thank you very much!
Jie

[2018-04-30 22:55] jgarciamesa commented on #266
Please try the develop branch of DNG, were you can find our most recent changes. Running the same command I obtained the following output:

 Created SNP lookup table
 First mrate: 1 last: 1
 First code: 6 last: 6
 First target string: AA/AA/AA last: TT/TT/TT
 First tref: 0.0002388 last: 0.99301

Created indel lookup table First code: 6 last: 6
 First target string: RR/RR/RR last: DD/DD/DD
 First p

[2018-04-30 23:00] jielab commented on #266
Do you mean that I download the developing version of DNG and then run the same command?

I will try that.

Thanks!

Jie

From: Juan J. Garcia Mesa <notifications@github.com>
Sent: 2018年4月30日 18:56
To: denovogear/denovogear <denovogear@noreply.github.com>
Cc: jiehuang001 <jiehuang001@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [denovogear/denovogear] Total number of SNP sites inter

[2018-05-01 13:36] jielab commented on #266
CMake Error at Modules/ExternalDep.cmake:361 (MESSAGE):
  ERROR: Some dependecies could not be found on your system.  To download and
  build the missing dependecies please set the following configuration
  variable

      BUILD_EXTERNAL_PROJECTS=1

  E.g.  cmake -DBUILD_EXTERNAL_PROJECTS=1 .

[2018-05-01 15:17] jgarciamesa commented on #266
You have some missing dependencies. In order to proceed you can either install them yourself or do
`cmake -DBUILD_EXTERNAL_PROJECTS=1 ..`
instead of just `cmake ..`. That should take care of your missing dependencies.

[2018-05-01 22:47] jielab commented on #266
I still can't  believe that the release version that i installed could not do such a simple task that i am trying to do, simply process a trio VCF file with a very small number of SNPs. I just tried to install the beta version with the -DBUILD_EXTERNAL_PROJECTS=1 option, but it failed. Please see below.

  does not match expected value
    expected: '16D78F90B72F29971B042E8DA8BE6843'
      actual:

[2018-05-01 23:57] reedacartwright commented on #266
It looks like the hash needs to be in lowercase. I just committed change 6723027 to the develop branch that should fix that issues.

Please run `git pull` or re-download the develop branch.

[2018-05-03 15:03] aschoenr opened #267 "Compiling DeNovoGear on CentOS 6.6"
Hi, I'm trying to compile denovogear 1.1.1 on CentOS. I believe I have all the dependencies (gcc 7.2.1, CMake 3.11.1, HTSlib 1.8, Eigen 3, Boost 1.67). Here is exactly what I've done, any healp would be greatly appreciated.

[aschoenr@bratty apps]$ tar -xvf v1.1.1.tar.gz
...
[aschoenr@bratty apps]$ cd denovogear-1.1.1/build/
[aschoenr@bratty build]$ cmake ..
-- The CXX compiler identification is G

[2018-05-03 20:48] reedacartwright commented on #267
Thanks for posting the entire output. Can you try compiling from the `develop` branch to see if you are still having the issue? I suspect that something that worked a few years ago is no longer working and I want to see if it is fixed in the `develop` branch.

[2018-05-06 00:22] jielab commented on #266
Dear all:

i now finally installed the development version and got it run. However, please see my log file below. This time it says: Total number of Paired sample sites interrogated: 0. Therefore, there is no output file generated. I did set the read depth filter to 0. Why still so many variants failed read-depth filters?

I am really a bit frustrated with this. I am simply trying to run something

[2018-05-06 20:41] reedacartwright commented on #266
You are analyzing a trio. You should expect to see no results for the paired-sample analysis.
As to why so many so many sites are being filtered, I'm not sure. Perhaps @gatoravi knows what is going on.

You can also try `dng call` (see documentation in the readme), as I can be more helpful with that program.

[2018-05-07 01:03] jielab commented on #266
Dear Reed:

Thank you very much! Can you please let me know the exact command that I should use to analyze my trio data?

Yes, I will read the documentation and the paper more, after I see something working and get a little bit encouraged to do so.

Thank you very much & best regards,

Jie

From: Reed A. Cartwright <notifications@github.com>
Sent: 2018年5月6日 16:42
To: denovogear/denovogear <denovog

[2018-05-07 14:13] aschoenr commented on #267
Hi,

I downloaded the development branch code from here: https://github.com/denovogear/denovogear/archive/develop.tar.gz. On my first attempt to build it, it complained that I only had HTSlib 1.2 installed (not 1.8 like I thought). I installed 1.8 and then retried building v1.1.1. I got the same results as before. I then built the development version with no problems. I ran the tests and all 39 pa

[2018-05-07 18:21] jgarciamesa commented on #267
Hello @aschoenr , if, as of my understanding, you successfully installed the develop branch you are good to go. This version includes upgrades made after the v1.1.1 release. Please feel free to open a new issue if you encounter problems using DeNovoGear.
I am now closing this issue and marking it as **resolved in develop branch**.

[2018-05-07 18:21] #267 closed, assigned to nobody

[2018-05-07 20:58] jgarciamesa commented on #266
Hi @jiehuang001, after inspecting your VCF file we realized that although you have 'AD' and 'DP' tags the values for at least the majority of them are missing or zero and our tool needs those values in order to run.

[2018-05-09 23:22] jielab commented on #266
Thanks. I will try to use samtools to recreate my VCF file so that "AD" and "DP" values are preserved. Right now, i used bcftools to merge 3 files. I assume that those two tags are messed up since bcftools don't know how to calculate a value from 3 files.

Regarding the comment "You are analyzing a trio. You should expect to see no results for the paired-sample analysis" from Reed,  I think "dng d

[2018-05-25 15:59] aschoenr opened #271 "Running DNG in parallel"
I was wondering if there was a built in way for DNG to process an entire genome in parallel? I know it is possible to split the genome into chromosomes and then run DNG in parallel on each individual chromosome, but I was wondering if there was a way to do this automatically with DNG.

If not, what tool do you recommend to split the BAM files? I used bamtools split as a test. I then ran DNG on one

[2018-05-25 16:29] reedacartwright commented on #271
Are you running `dng dnm` or `dng call`?

[2018-05-25 17:00] aschoenr commented on #271
Sorry, dng dnm.

[2018-05-25 17:14] reedacartwright commented on #271
What command are you using to generate your vcfs for `dnm`?

[2018-05-25 17:18] aschoenr commented on #271
samtools mpileup -t DP -gf Homo_sapiens_assembly38.fasta [bam1] [bam2] [bam3] | dng dnm auto --ped [pedfile] --bcf

[2018-05-25 17:33] reedacartwright commented on #271
If your bam files are indexed, you don't need to split them. Instead, use the `-r` flag to samtools mpileup to restrict the output to specific regions/chromosomes.

Also, if you have multiple trios, you can run `dng dnm` on several trios in parallel.

[2018-05-25 18:15] aschoenr commented on #271
Thanks for letting me know. My preprocessing pipeline is setup to process a family's worth of data at a time (4-7 individuals) which produces 2-5 trios to be run. I would prefer to run the entire pipeline (from raw reads to dnm calls) start to finish, so I won't have enough trios ready at a given time to keep my machine busy. For this reason I'd prefer to run DNG in parallel over a trio.

All of t

[2018-05-25 18:24] reedacartwright commented on #271
Yes it does sound reasonable.

I also recommend that since you have family level data that you experiment with `dng call`, which can handle arbitrarily large families. If you use `dng call` you will not have to split the family into trios before processing.

[2018-05-25 18:26] aschoenr commented on #271
I will look into both of these. Thanks for your help.

[2018-05-28 16:15] aschoenr commented on #271
I've looked into this a little bit and I still have a few questions. First, does dng call give essentially the same information that dng dnm does (ie, for each child it will call the denovo mutations and provide the location?

Second, I am planning on still using samtools mpileup to create a bcf to pass to dng. I assume this is OK? Here is what I'm doing right now:

`samtools mpileup -t DP -r chr1

[2018-05-29 20:38] reedacartwright commented on #271
My response below assumes that you will be working on the latest version of `dng call` from the develop branch because I can't remember what features other versions have.

First, note that the ped file used in `dng call` is different than the ped file used in `dng dnm`. (And the next big change I make to `dng call` will improve its ped-file format further.)

`dng call` works off of `AD` format fie

[2018-05-30 18:16] aschoenr commented on #271
Thanks for all of the info. I have a question regarding the newick-formatted trees required in the PED files for dng call. The family I'm currently working on has ID 2014_34. The members are 2014034 (father), 2014035 (mother), 2014036 (son), 2014037 (daughter) and 2014038 (son). Here is the PED file I used for dng dnm:

I'm not sure how to change the last column for dng call.

Also, to clarify, wi

[2018-05-30 21:01] reedacartwright commented on #271
Assuming that the column names in your vcf are 2014034--2014038 and you have one column per individual, you can construct your `dng call` pedigree as below. (Note that you need to replace the spaces between values by a tab.)

[code]

I haven't compared `dng call` output to `dng dnm` in a long time, but `dng call` will identify de novo mutations and tell you where they are located, what they look l

[2018-05-31 03:27] reedacartwright commented on #248
Support for AD and TAD has been removed in #272

[2018-05-31 03:27] #248 closed, assigned to nobody

[2018-05-31 03:28] reedacartwright commented on #208
Support for TAD and AD has been removed in #272 .

[2018-05-31 03:28] #208 closed, assigned to jgarciamesa

[2018-05-31 03:29] #223 closed, assigned to nobody

[2018-05-31 03:30] #155 closed, assigned to kaeldai

[2018-05-31 03:30] #165 closed, assigned to nobody

[2018-05-31 03:31] #116 closed, assigned to nobody

[2018-05-31 03:32] reedacartwright commented on #143
Support for dng pileup was removed in #272 .

[2018-05-31 03:32] #143 closed, assigned to nobody

[2018-05-31 03:33] reedacartwright commented on #161
Feature implemented, but in a different way.

[2018-05-31 03:33] #161 closed, assigned to stevenhwu

[2018-05-31 03:34] reedacartwright commented on #266
I guess you now have it working, so I am closing this issue.

[2018-05-31 03:34] #266 closed, assigned to nobody

[2018-05-31 03:34] reedacartwright commented on #262
Closing as bioconda fixes it.

[2018-05-31 03:34] #262 closed, assigned to nobody

[2018-05-31 03:35] reedacartwright commented on #249
Closing as possibility fixed.

[2018-05-31 03:35] #249 closed, assigned to nobody

[2018-05-31 03:36] reedacartwright commented on #66
Implemented.

[2018-05-31 03:36] #66 closed, assigned to nobody

[2018-05-31 03:37] reedacartwright commented on #67
Supported in `dng treecall`

[2018-05-31 03:37] #67 closed, assigned to nobody

[2018-05-31 03:37] reedacartwright commented on #265
Assuming that this issue is fixed.

[2018-05-31 03:38] reedacartwright commented on #255
@jgarc111, has the bioconda recipe been updated?

[2018-05-31 04:27] jgarciamesa commented on #255
After some time I recently got feedback from an issue I opened at the bioconda github repository and I'm working on the recipe update.

[2018-05-31 19:03] aschoenr commented on #271
I tried running that command and got the following error:

It seems the first command (bcftools mpileup)  worked fine though.

[2018-05-31 19:43] reedacartwright commented on #271
This might be a version issue. What does `dng call --version` output?

--
Reed A. Cartwright, PhD
Barrett Honors Faculty
Assistant Professor of Genomics, Evolution, and Bioinformatics
School of Life Sciences
Human and Comparative Genomics Laboratory
The Biodesign Institute
Arizona State University
==================
Availability: http://links.asu.edu/CartwrightCalendar
Address: The Biodesign Insti

[2018-05-31 19:56] aschoenr commented on #271
dng call v1.1.1-139-gc5b8797
Copyright (c) 2014-2015 Reed A. Cartwright, Kael Dai, et al.

[2018-05-31 22:07] reedacartwright commented on #271
Ah, you are using a version from 2016, which means that you are encountering a bug with how pipes were handled. A possible workaround is to write to a bcf file and then read from it, or skip `mpileup` and let `dng call` process the bam files directly.

Or you can upgrade to the latest version on the develop branch which fixes the bug you encountered.

[2018-05-31 23:34] jgarciamesa commented on #255
@reedacartwright , as of right now the recipe update will contain commit id 16e960e11cdde506b46dac0255430814ad0c7aea . Do you want to use a more recent one?

[2018-05-31 23:39] reedacartwright commented on #255
Yes, do the one after my pedng pull request is merged.

--
Reed A. Cartwright, PhD
Barrett Honors Faculty
Assistant Professor of Genomics, Evolution, and Bioinformatics
School of Life Sciences
Human and Comparative Genomics Laboratory
The Biodesign Institute
Arizona State University
==================
Availability: http://links.asu.edu/CartwrightCalendar
Address: The Biodesign Institute, PO Box 87

[2018-06-01 04:23] reedacartwright commented on #271
@aschoenr, I just committed an improvement to the `develop` branch that makes pedigree parsing more expressive and robust. If you install it, then you will need to use the following for your ped file.

[code]

[2018-06-01 18:01] reedacartwright opened #274 "Move BAM support from call to pileup."
In #272, support for AD files was removed from DNG and `dng pileup` was removed.  We can continue to streamline `dng call` by removing support for BAM from it. However, our pileup code may still be useful, so we can move to a `dng pileup` command that generates a vcf with AD, PL, DP, etc. tags.

### Possible Tasks

 - [ ] Remove support for reading BAM in dng-call
 - [ ] Resurrect `dng pileup` and

[2018-06-01 18:03] reedacartwright opened #275 "Support Selfing"
It is possible to support selfing in `dng call` without changing the peeling algorithm.

[2018-06-01 18:34] jgarciamesa commented on #255
Recipe updated with commit id 3ae70ba8272ca4d6aa96bdb41170ce0739a5aa4a . All tests passed and pull request on bioconda/bioconda-recipes should be merged soon.

[2018-06-01 18:34] #255 closed, assigned to jgarciamesa

[2018-06-01 19:08] reedacartwright opened #276 "Improve pedigree simplification"
Pedigrees are currently simplified to remove uninformative nodes. However, some nodes are not removed that can be.

- [ ] Two founders (without somatic data) that are only connected to a child, can be removed and the child made a founder.
- [ ]  A zero-length branch can be removed: ((A,B):0,D) -> (A,B,D)

[2018-06-04 14:47] aschoenr commented on #271
I could've sworn I was using a recent pull from the development branch...there have been a few people playing with dnm on this machine though. Anyways, I just downloaded the latest from the dev branch and got the following errors when trying to build it:

[aschoenr@bratty build]$ cmake ..
-- Compiling with build type 'RelWithDebInfo'.
-- DeNovoGear version: 1.1.1-308-g3ae70ba.
-- Boost version: 1.

[2018-06-04 20:07] reedacartwright commented on #271
It looks like your system defaults to using a very old GNU C++ compiler, version 4.4.7. I think that the earliest version of GCC that DeNovoGear will compile against is 4.8.2. If you have access to a more recent compiler installed on your system, the quickest way to compile DeNovoGear is to do the following:

[code]

This assumes that the compilers you want to use are `gcc5` and `g++5`. You may ru

[2018-06-05 12:44] aschoenr commented on #271
I forgot that I had gcc7 installed, just not enabled. Should what I did below work, or should I be doing something else? It seems that even though I have gcc7 enabled, it is still defaulting to gcc 4.

[aschoenr@bratty build]$ scl enable devtoolset-7 bash
[aschoenr@bratty build]$ which gcc
/opt/rh/devtoolset-7/root/usr/bin/gcc
[aschoenr@bratty build]$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
C

[2018-06-05 14:29] aschoenr commented on #271
I did this instead:

[aschoenr@bratty denovogear]$ mkdir build-gcc7
[aschoenr@bratty denovogear]$ cd build-gcc7/
[aschoenr@bratty build-gcc7]$ CC=/opt/rh/devtoolset-7/root/usr/bin/gcc CXX=/opt/rh/devtoolset-7/root/usr/bin/g++ cmake -DBUILD_EXTERNAL_PROJECTS=force ..

compiling now, I'll let you know when I hit my next snag.

[2018-06-05 16:31] aschoenr commented on #271
Seems to be running fine now. I am still running it onlt on chr1. Is there somewhere I can go for a description of the output or can you help me with that? Here is an example entry from the output:

chr1    867096  .   T   A   5.76188 PASS    MUTQ=5.68276;MUTX=0.729776;LLD=-25.5525;LLS=-12.5282;LLH=-8.16552;DENOVO;DNP=0.729776;DNQ=99;DNT=T/T*T/T->T/A;DNL=LB/2014038;GERMLINE;SOMATIC;LIBRARY;DP=129;

[2018-06-05 19:38] reedacartwright commented on #271
It's great you got it compiled and working.

`dng call` outputs a VCF format file. If you are not familiar with the format, see https://gatkforums.broadinstitute.org/gatk/discussion/1268/what-is-a-vcf-and-how-should-i-interpret-it about how to interpret it.

The VCF header contains descriptions of all of the statistics that `dng call` outputs. The `DN*` family of statistics is probably the one you

[2018-06-22 15:19] MikeHala commented on #265
Sorry for my delayed reply.
I have not tried the dev branch yet, the issue is related to v.1.1.1.
The positions in the standard output format are correct, off-by-one happens when requesting VCF output:
time gunzip -c $VCF_FILE | dng dnm auto --ped ${PED_DIR}/${PRO_ID}.ped --vcf - --write ${OUT_DIR}/${PRO_ID}.denovo.vcf

[2018-06-22 18:31] reedacartwright commented on #271
@aschoenr How is it going? Do you have any more questions?

[2018-06-22 18:47] reedacartwright commented on #265
I confirmed that `dng-dnm` creates a vcf output file in which the positions are off by 1.

[2018-06-22 19:47] aschoenr commented on #271
Thanks for getting in touch again. I am actually having a bit of difficulty. I've gone back to using the dnm module, but for some reason I cannot get it to run, I keep getting the following error:

[code]

Here is what I'm trying to do:

`samtools mpileup -t DP -r chr1 -gf Homo_sapiens_assembly38.fasta 2003058.bam 2003057.bam 2003003.bam  | dng dnm auto --ped 2003_57.ped --bcf -`

Here is my ped f

[2018-06-22 20:15] #265 closed, assigned to nobody

[2018-06-22 20:16] reedacartwright commented on #265
I have committed a fix to the develop branch. If you can get it running, please confirm that it has been fixed for you.

[2018-06-22 20:24] reedacartwright commented on #271
Which version of `dng-dnm` is throwing that error? I've looked for that error message in the develop branch and can't find it.

[2018-06-25 15:17] aschoenr commented on #271
Looks like I was using the wrong version (again). I tried again with the following version:

[code]

and got comparable errors. Here are a few:

[code]

[2018-06-25 19:55] reedacartwright commented on #271
It looks like the sample names are not matching up. Can you give me the `#CHROM` header line in the output of `samtools mpileup`?

[2018-06-25 19:59] aschoenr commented on #271
I'm going to run samtools mpileup overnight and I'll let you know tomorrow.

[2018-06-25 20:03] reedacartwright commented on #271
If you don't want to run the job overnight, you can do the following:

`samtools mpileup -t DP -r chr1 -gf Homo_sapiens_assembly38.fasta 2003058.bam 2003057.bam 2003003.bam | bcftools view -h | tee header.txt`

[2018-06-26 14:59] aschoenr commented on #271
I was leaving the office and thought it might be handy to have this bcf file on hand to figure out what's going on. Here is the line you were asking for:

`#CHROM  POS ID  REF ALT QUAL    FILTER  INFO    FORMAT  2003058 2003057 2003003`

I just tried running DNG on that bcf file and got the same errors as before:

`dng dnm auto --ped 2003_57.ped --bcf 2003_58_57_03_chr1.bcf`

Do the mother (200300

[2018-06-26 17:23] reedacartwright commented on #271
I think `dng-dnm` is trying to call de novos in all three trios that you have in your ped file, and is throwing an error because your input file only contains a single trio. Try either adding both 2003059 and 2003060 to your mpileup output or using a ped file with just the line for 2003058 in it.

[2018-06-27 14:18] aschoenr commented on #271
Looks like you are right. I was under the impression that `dng dnm` could only process a single trio at a time. This is nice because I can now process an entire family at a time and parallelize it by processing each chromosome on its own.

Out of curiosity, does the format of the output of `dng dnm` have a formalized name? Also, can you tell me if a few of these records look like they make sense?

[2018-06-27 18:46] jielab opened #279 "Total number of Paired sample sites interrogated: 0"
**Hi, guys: I previously posted this question. I was really frustrated that it was not resolved, while I thought that my question is very very simple. I hope that this time i will get better luck. Basically, I have a trio, with 3 BAM files for them. I created a sample.ped file with the following content:**
1 18-CG-15-07932_S5_R1_001 0 0 1 0
1 18-CG-15-07931_S4_R1_001 0 0 2 0
1 18-CG-15-07930_S3_R1

[2018-06-27 20:36] reedacartwright commented on #279
It works as expected. `dng dnm` can process paired and trio samples in a single run. You get 0 Paired samples interrogated because you are using a trio. The SNP and INDEL reports refer to your trio. See below for the section of code responsible.

https://github.com/denovogear/denovogear/blob/ff2e50ffe1ff28dc9a9952a9c93561fb3c27561f/src/dng-dnm.cc#L313-L373

This is a duplicate of #266.

[2018-06-27 20:36] #279 closed, assigned to nobody

[2018-06-27 20:44] reedacartwright commented on #271
I think that the vcf output of `dng dnm` can only handle one trio at a time. The original output is more flexible.

Unfortunately, I cannot help you with the interpretation of the original output as it was developed before I started contributing to `dng` and I haven't used it in any of my research. @dconrad and @gatoravi might be able to help you understand it.

[2018-06-27 20:45] jielab commented on #279
Dear Reed:

Sorry to bug you on this. If you say that “it works as expected”, where is the analysis results? I did not get any output except that LOG file. Again, I am expecting a report that lists all de-novo mutations based on my trio WES data.

Best regards,

Jie

From: Reed A. Cartwright <notifications@github.com>
Sent: 2018年6月27日 16:36
To: denovogear/denovogear <denovogear@noreply.github.com>

[2018-06-27 21:01] reedacartwright commented on #279
For starters, you might not have any de novo mutations in your data. Try using `-c 0` to see if you get any calls.

[2018-06-28 17:07] jielab commented on #279
Dear Reed:

I now downloaded the latest version of DNG, and changed my sample to the new format as below.

##PEDNG v1.0

#Individual Father Mother Sex Samples

18-CG-15-07932_S5_R1_001 . . male =

18-CG-15-07931_S4_R1_001 . . female =

18-CG-15-07930_S3_R1_001 18-CG-15-07932_S5_R1_001 18-CG-15-07931_S4_R1_001 male =

However, now when I run dng dnm auto --rd_cutoff 0 -c 0 --ped sample.ped --bcf tr

[2018-06-28 17:33] reedacartwright commented on #279
The `dng dnm` program doesn't support the new ped format. It was designed for the newer `dng call` program.

[2018-06-30 03:02] jielab commented on #279
Dear Reed:

I now convert back to my old ped file then. Again, the ped file is pasted below. I am not sure that it is OK for me to use “1” as family ID for all 3 persons.

1 18-CG-15-07932_S5_R1_001 0 0 1 0

1 18-CG-15-07931_S4_R1_001 0 0 2 0

1 18-CG-15-07930_S3_R1_001 18-CG-15-07932_S5_R1_001 18-CG-15-07931_S4_R1_001 1 1

Sorry that I have been taking too much of your time. I am not trying to do

[2018-06-30 13:24] jielab opened #280 "How could "de-novo" mutation found from a binary coded 0/1 VCF file"
Hi,

Previously I posted a couple of times, struggling to make DNG work on my VCF file of a trio dataset, but could not get any result. If someone has a working example, where de-novo mutations could be reported by DNG from a VCF file (ideally some publicly available VCF file such as that from 1000GP so that we work on the same thing), can you please kindly share the DNG command line?

I now take

[2018-06-30 17:06] reedacartwright commented on #279
If you have manually identified sites that are de novos, please post the entire `#CHROM` header line and entire line from those positions so I can manually inspect them an figure out why they weren't being called.

[2018-07-04 06:39] jielab opened #281 "even the official testing data does not work"
Hi,

I now use the testdata from https://github.com/denovogear/testdata/tree/master/sample_CEU and then used the following command:
module load denovogear/2018-05-1_6723027
dng dnm auto --ped sample_CEU.ped --bcf sample_CEU.bcf

Then I got the following output. As you see, it ended with a segmentation fault error. I am now really frustrated with this DNG thing. Can someone please help out? Please

[2018-07-05 23:22] reedacartwright commented on #281
I am unable to replicate the segfault on my system using the command that you provided. I used the latest develop branch version and htslib 1.8. I suspect that it is an issue that is specific to your system.

Please upgrade to the latest version on the develop branch and htslib 1.8 and let me know if the segfault still occurs. If so, can you run `gdb` and let me know what code triggers the segfaul

[2018-07-09 21:26] jielab commented on #280
For a A/C SNP, if both father and mother have a genotype of A/A while child has a genotype of A/C, is this a de-novo mutation? I guess it is.

However, I though that de-novo mutation also includes the following situation: one of the two parents have A/C, while the child have A/G.  Then this becomes a tri-allelic SNP and it will not be stored correctly by VCF files, therefore, this will not be trea

[2018-07-10 00:51] reedacartwright commented on #280
The answer to your question is "it depends". DNG does not rely on the genotypes stored in a VCF file when identifying potential de novos. It uses either the PL likelihoods (dng-dnm) or the AD depths (dng-call). If you want me to inspect specific sites that you believe DNG is missing, I need to see a complete line from the VCF along with the #CHROM header line.

[2018-07-13 12:49] vsvinti opened #283 "vcf output in the latest development version"
Hi there

I downloaded the development version 12 July 2018. I'm running dng on trios, and it works fine if I do:
<pre> dng dnm auto --ped trio.ped --bcf trio.bcf > trio.autodng.txt </pre>
but if I try to write a vcf file:
<pre> dng dnm auto --ped trio.ped --bcf trio.bcf --write trio.autodng.vcf </pre>
It still outputs the non-vcf format to the screen / log file, and the vcf file is empty. Is writ

[2018-07-19 20:21] reedacartwright commented on #283
I can't replicate your issue. It is working for me.

[2018-07-19 20:21] #281 closed, assigned to nobody

[2018-07-19 20:21] #280 closed, assigned to nobody

[2018-07-19 20:22] #271 closed, assigned to nobody

[2018-07-20 07:13] vsvinti commented on #283
Ok. Have I got the right command? Is the vcf output dependent on a particular version of any dependent software? Is the vcf being written during runtime or just at the end (ie should I expect to see a change in file size before job completes)?

[2018-07-20 07:51] vsvinti commented on #283
Does this have anything to do with the fact that all the variants have  <*>, for example
<pre>pos: 17086870 ref: T alt: C,<*> maxlike_null: 6.26547e-07 </pre>
and maybe the vcf doesn't support them? What are these?

[2018-07-20 20:04] jielab commented on #281
Dear Reed:

I think I finally made your example code work. I used your sample_CEU.ped and sample_CEU.vcf file.

First, I think there is an error with your sample_CEU.ped file. The ID highlighted in red should be NA12892 instead, correct?

CEU     NA12891_vald-sorted.bam.bam     0       0       1       0

CEU     NA12878_vald-sorted.bam.bam     NA12891_vald-sorted.bam.bam     NA12892_vald-sorted.ba

[2018-07-21 11:15] jielab opened #284 "why the same genetic data could go both ways"
Hi, I am able to finally make DNG work on the example data. Once I run dng dnm auto --ped sample_CEU.ped --bcf sample_CEU.vcf, the output shows a total of 3 variants are de novo. Please see the screenshot below, the proband and the 3 variants highlighted in red.

My question is, the other variant not highlighted in red has the same genetic data as the last variant, except that the REF/ALT is diffe

[2018-07-24 14:26] reedacartwright commented on #283
I believe that the output file is buffered, so you might not see any information in it before several lines have been written or the program has finished. I recommend trying it on a small input vcf to see if you get what you are looking for.

The '<*>' variants refer to "everything else", as in alleles that were not genotyped but may be there biologically. They are used by mpileup to pass informat

[2018-07-25 08:09] vsvinti commented on #283
Ah, you are right! The vcf only gets filled upon job completion. The regular dng output gets printed to the screen during runtime when using --write, which is deceiving..

[2018-07-26 23:41] #283 closed, assigned to nobody

[2018-07-26 23:46] reedacartwright commented on #284
Row 4 is a duplicate for row 3 and is probably being ignored by dng-dnm.

mpileup does unexpected things around indels, sometimes producing duplicated sites.

[2018-08-01 07:35] zhangjianruwang opened #285 "error when installing with "make -j4""
I download https://github.com/denovogear/denovogear/archive/develop.tar.gz and try to install it.
errors occoured when I run command $make -j4
what should I do then ?

this file is the error output by $make -j4

[error.log](https://github.com/denovogear/denovogear/files/2248452/error.log)

[2018-08-01 09:18] #285 closed, assigned to nobody

[2018-08-04 04:31] jielab opened #286 "dng call --model=autosomal does not return results"
Hi,

Now I could use "dng dnm auto --ped sample.ped --bcf trio.bcf" to identify de-novo variants from a TRIO dataset. I feel that this type of task could be done by a simple text processing tool, basically to identify variants whose parents' genotype are both A/A, while the proband's genotype is A/a or a/a, correct?

Then I try to see how I could identify autosomal dominant variants from this same

[2018-08-08 23:26] reedacartwright commented on #286
Dear @jiehuang001,

As I've said before, it is very difficult for me to diagnose your issues without any information about the ped and bcf files that you are using.

While you can call de novo mutations using a simple text processing tool, that will lead to a lot of issues as it will ignore the uncertainty of genotype information. DNG provides more accurate de novo mutation calling because integra

[2018-08-08 23:27] #284 closed, assigned to nobody

[2018-08-09 04:09] jielab commented on #286
Dear Reed:

Thank you very much for your reply!

I did indicate that I am now using the testing data from your DNG website https://github.com/denovogear/testdata/tree/master/sample_CEU. I simply use the https://github.com/denovogear/testdata/blob/master/sample_CEU/sample_CEU.ped file and the sample_CEU.vcf file, so that it is easier for us to communicate and cross-check.

Your sample_CEU.ped file

[2018-08-09 21:48] reedacartwright commented on #286
I'm sorry for being confused, as that information was missing from this issue. The `sample_CEU` is test data for `dng dnm` and is not compatible with `dng call`. The data I use to test `dng call` is in the `human_trio` directory.

`dng dnm` ignores the 6th column. It won't throw an error, but it doesn't use that information.

You can use `dng call --all` to output sites that contain segregating va

[2018-08-12 22:01] jielab commented on #286
really frustrating with this tool and the messages. I have to decide that i have to quit this.

what i have been struggling to do is to simply find de novo and rare heritable mutation from a trio VCF file. but after so many emails, now you tell me to use testing data in human_trio directory instead of the sample_CEU directory, to use "dng call --all" instead of "dng call" instead of "dng dnm", to

[2018-08-13 20:15] #286 closed, assigned to nobody

[2018-08-26 17:02] jielab opened #287 "why this is not picked up as a de-novo variant"
Hi, I use the following command to identify de-novo vairant on the following test.vcf file.
**dng dnm auto --ped sample.ped --bcf test.vcf**

It seems to me that this is a de-novo variant, but why denovogear did not pick it up?

Thanks!

=== sample.ped ===
1 07932 0 0 1 1
1 07931 0 0 2 1
1 **07930 07932 07931** 1 2

=== test.vcf ===
##fileformat=VCFv4.2
##FILTER=<ID=PASS,Description="All filters p

[2018-08-28 23:15] reedacartwright commented on #287
#CHROM POS ID REF ALT QUAL FILTER INFO FORMAT 07930 07931 07932
1 175116065 . A T 41.93 PASS DP=123;MQ=60 GT:AD:DP:GQ:PL 0/1:14,9:23:67:**67,0,285** 0/0:49,0:49:0:**0,0,517** 0/0:40,0:40:0:**0,0,396**

@jiehuang001 I bolded the PL fields, which `dng dnm` uses for genotype likelihoods. Both the mother and father have PLs indicating that their 0/0 and 0/1 genotypes are equally likely and their GT qu

[2018-08-29 00:41] jielab commented on #287
Dear Reed:

Thank you very much!

Below is the raw VCF content for this particular SNP, when I use the “tabix” command to extract.

tabix merge.vcf.gz 1:175116065-175116065

1       175116065       .       A       T       41.93   .       AC=1;AF=0.167;AN=6;BaseQRankSum=-2.625;ClippingRankSum=0.000;DP=123;ExcessHet=4.7712;FS=13.183;MLEAC=2;MLEAF=0.333;MQ=60.00;MQRankSum=0.000;QD=1.82;ReadPosRankSum

[2018-08-29 00:46] jielab commented on #287
Dear Reed:

Thank you very much!

Below is the raw VCF content for this particular SNP, when I use the “tabix” command to extract.
**tabix merge.vcf.gz 1:175116065-175116065**
1       175116065       .       A       T       41.93   .       AC=1;AF=0.167;AN=6;BaseQRankSum=-2.625;ClippingRankSum=0.000;DP=123;ExcessHet=4.7712;FS=13.183;MLEAC=2;MLEAF=0.333;MQ=60.00;MQRankSum=0.000;QD=1.82;ReadPosRankS

[2018-08-30 22:49] reedacartwright commented on #287
I was wrong apparently GATK is responsible for the disconnection between PL and AD fields. Either this is a bug, or there is some indel or other complexity in the region and GATK is unable to keep the PL and AD in sync.

Regardless, I do not believe that `dng dnm` has an option to filter on PL or related fields. It relies on the user prefiltering their VCF, perhaps piping from `bcftools`. I also d

[2018-09-18 23:58] #287 closed, assigned to nobody

[2018-11-08 12:59] vgastaldi opened #288 "buffer overflow detected ***: /usr/local/bin/../libexec/denovogear/dng-dnm terminated"
Dear all,

I've been trying to use dng dnm function with a number of trios, but for some of them I keep getting a buffer overflow error.

I ran "dng dnm auto -p FAM_V10.ped -v FAM_V10_SNP_INDEL_recalibrated_raw_variants.vcf" and this is the backtrace:

[code]

What can I do to avoid/solve this?  I attached the files if you want to reproduce it.
[fam_v10.zip](https://github.com/denovogear/denovogea

[2018-11-08 13:22] vgastaldi commented on #288
Just noticed that when I build with "-DCMAKE_BUILD_TYPE=Debug" it works.

[2018-11-21 00:42] dantaki commented on #249
This is not fixed. The most recent version of dng still fails to call insertions from GATK

[2018-11-21 00:58] reedacartwright commented on #249
@dantaki I will need more information to investigate. E.g.

1. What version are you using?
1. What command line are you using?
1. Please provide an example VCF containing lines that fail to be called, including pedigree information, etc.

Remember, if you are using `dng dnm`, it requires PL fields in order to call mutations. `dng call` requires AD fields.

[2018-11-21 01:01] reedacartwright commented on #288
@jgarc111 Can you look into this crash after the semester is over?

[2018-11-21 01:08] dantaki commented on #249
Thanks for the swift reply @reedacartwright. I don't have all the details except for dng version 1.1.1. Someone else will follow up shortly. The VCFs we are using have been processed with GATK and VQSR. They contain both AD and PL entries, since we use those for our analysis too.

[2018-11-21 03:51] jgarciamesa commented on #288
Of course, I will do.

[2018-11-21 20:06] aojielian commented on #249
@reedacartwright
Hi, i got this problem yesterday. i use dng version 1.1.1.
here is an example VCF and ped file:
https://www.dropbox.com/sh/i48t4tkp7a9urm1/AACyeWw3TQJim4zdcbsmNjIda?dl=0

this is my command code:
dng dnm auto --vcf /oasis/projects/nsf/ddp195/dantakli/ssc_sv/snv_vcf/11178.vcf.gz --ped /home/a1lian/split_ped/trio_ped/11178_SSC00368.ped --output_vcf /oasis/projects/nsf/ddp195/a1lian/

[2018-11-21 21:51] reedacartwright commented on #249
@aojielian, the sample names in the vcf do not match the pedigree: `SSC00366	SSC00367	SSC00368	SSC00550` vs `11000	SSC02220	SSC02219	SSC02217	2	1`.

[2018-11-21 21:55] aojielian commented on #249
@reedacartwright sorry ,i uploaded a wrong ped, i fixed  it
https://www.dropbox.com/s/dtoog0g8oieghsi/11178_SSC00368.ped?dl=0

[2018-11-21 22:04] reedacartwright commented on #249
When using the version from the `develop` branch, I get output for 4 sites.

[code]

Command line was `dng dnm auto --vcf dng.test.vcf --ped 11178_SSC00368.ped -w out.vcf`

[2018-11-21 22:41] aojielian commented on #249
@reedacartwright you mean this one?
https://github.com/denovogear/denovogear/archive/develop.tar.gz

Ok, i'll re-install and try it agian
Thanks

[2018-11-21 23:05] aojielian commented on #249
@reedacartwright
[a1lian@comet-ln2 ~]$ dng version
DeNovoGear Version 1.1.1
i just got three of them(all deletions)
i followed these step to install de novo gear:
 tar -xvzf denovogear*.tar.gz
 cd denovogear*/build
 cmake -DBUILD_EXTERNAL_PROJECTS=1 -DCMAKE_BUILD_TYPE=Release  ..
 make -j4

[2018-11-21 23:10] reedacartwright commented on #249
If you install from the `develop.tar.gz` the version number might be a bit off since CMake isn't able to pull it from the git information.

If you didn't run `make install`, then `dng version` will access the globally installed one.

If you want to access `dng dnm` directly, you can try this

[code]

[2018-11-21 23:24] aojielian commented on #249
@reedacartwright ok, i use this command code, it's worked !
/home/a1lian/denovogear-develop/build/src/dng-dnm auto --vcf dng.test.vcf --ped /home/a1lian/split_ped/trio_ped/11178_SSC00368.ped -w out.vcf

Thank you so much

[2018-11-26 19:46] dantaki commented on #249
Thanks for your help @reedacartwright

[2018-12-03 15:24] DataOmics76 opened #289 "problems to install"
when I write make -j4 I get the next error:

src/CMakeFiles/dng-call.dir/build.make:75: recipe for target 'src/CMakeFiles/dng-call.dir/lib/call.cc.o' failed
make[2]: *** [src/CMakeFiles/dng-call.dir/lib/call.cc.o] Error 1
CMakeFiles/Makefile2:207: recipe for target 'src/CMakeFiles/dng-call.dir/all' failed
make[1]: *** [src/CMakeFiles/dng-call.dir/all] Error 2
Makefile:151: recipe for target 'all'

[2018-12-04 18:23] reedacartwright commented on #289
@DataOmics76 Can you post the full output of the error message. This looks like a compiling issue, but I don't see the compiler error in your output.

[2018-12-04 18:36] DataOmics76 commented on #289
Hi @reedacartwright   :)

Hope this helps now.

Thanks for the help!

cmake -DCMAKE_BUILD_TYPE=Release ..
-- DeNovoGear version is 1.1.1
-- Boost version: 1.68.0
-- Found the following Boost libraries:
--   program_options
--   filesystem
--   system
-- Found HTSLIB 1.9
-- Configuring done
-- Generating done
-- Build files have been written to: /media/cri/GEN/TRIO_TOOLS/denovogear-1.1.1/build
cri@

[2018-12-04 18:38] reedacartwright commented on #289
@DataOmics76, Can you try compiling from the develop branch (https://github.com/denovogear/denovogear/tree/develop) to see if you get the same error? I know of one compiling issue with recent boost and will commit a fix if that is the issue you are having.

[2018-12-04 18:43] DataOmics76 commented on #289
I did but then I get another error    ^ ^"

cmake -DCMAKE_BUILD_TYPE=Release ..
-- Compiling with build type 'Release'.
-- DeNovoGear version: 1.1.1-unknown.
-- Boost version: 1.68.0
-- Found the following Boost libraries:
--   program_options
--   filesystem
--   system
--   unit_test_framework
-- Found HTSLIB 1.9
-- Configuring done
-- Generating done
-- Build files have been written to: /media/

[2018-12-04 18:52] reedacartwright commented on #289
That one, I can fix.

Use `std::distance` instead of `distance` on line 1065 of `src/lib/relationship_graph.cc`.

I will have a patch out after exam week is over.

[2018-12-04 18:58] DataOmics76 commented on #289
Thanks a lot!!!  @_____@

Good luck with exams!

[ 90%] Building CXX object src/CMakeFiles/dng-dnm.dir/dnm/pedParser.cc.o
[ 93%] Building CXX object src/CMakeFiles/dng-dnm.dir/dnm/bcf2Qcall.cc.o
[ 96%] Building CXX object src/CMakeFiles/dng-dnm.dir/dnm/bcf2Paired.cc.o
[100%] Linking CXX executable dng-dnm
[100%] Built target dng-dnm

[2018-12-04 19:04] reedacartwright commented on #289
You're welcome

[2018-12-04 19:04] #289 closed, assigned to nobody

[2018-12-07 12:46] DataOmics76 opened #290 "Aborted (core dumped) calling trio buffer overflow"
Hi again! Sorry for disturb again

I follow the instructions and get the next error, think maybe something similar as another thread?

Thanks!

samtools mpileup -gDf hg38.fa 02.bam 06.bam 08.bam > bcffile.bcf

/dng dnm auto --ped trioDNV.ped --bcf bcffile.bcf > out.bcf

Created SNP lookup table
 First mrate: 1 last: 1
 First code: 6 last: 6
 First target string: AA/AA/AA last: TT/TT/TT
 First tref

[2018-12-07 13:15] DataOmics76 commented on #290
I got it to work like the other user @vgastaldi told   ^^

Now I will be waiting for the results!

Thanks!

cmake -DCMAKE_INSTALL_PREFIX="${HOME}/dng" -DCMAKE_BUILD_TYPE=Debug ..
make -j4
make install

[2018-12-07 14:23] DataOmics76 commented on #290
but I got...something weird on the results I asume

Created SNP lookup table
 First mrate: 1 last: 1
 First code: 6 last: 6
 First target string: AA/AA/AA last: TT/TT/TT
 First tref: 0.0002388 last: 0.99301

Created indel lookup table First code: 6 last: 6
 First target string: RR/RR/RR last: DD/DD/DD
 First prior: 0.05 last: 0.114

Created paired lookup table
 First target string: AA/AA last: TT/

[2018-12-07 18:12] DataOmics76 commented on #290
I found out  reason here:

https://sourceforge.net/p/denovogear/discussion/h/thread/5814ad37/

[2018-12-07 18:12] #290 closed, assigned to nobody

[2018-12-17 19:11] reedacartwright opened #291 "VCF Output v4.3"
The `GP` tag produced by `dng-call` uses the VCF v4.3 definition; however, the output reports VCF v4.2 format. One of them needs to be fixed.

[2019-01-11 16:11] silvermoon8902 opened #293 "sample size for each single run of denovogear"
I am wondering if I can include more than three samples in the ped file? Because in our study every family has more than one child. Or if I can incorporate multiple families into one ped file and do a single denovogear run? Because the first column is family ID I think denovogear can distinguish the different families.

If I can include more than three samples in the ped file, can the denovogear o

[2019-01-11 19:59] silvermoon8902 opened #294 "denovogear no DNM found on CentOS 7 (Core)"
Hi,

I am using denovogear developed by you.

My command to run denovogear is:
##generating piled up vcf file for dng
bcftools mpileup -f hg19.chr22.fasta S13_02A_CHG000233_chr22.bam S13_02A_CHG000234_chr22.bam S13_02A_CHG000235_chr22.bam | bcftools call -mv -Ov -o S13_02A_chr22_v2.vcf

##the first step is working perfectly to generate a piled up vcf file required by dng, I used the command recomm

[2019-01-11 21:06] reedacartwright commented on #294
Your vcf is missing `DP` tag for each sample, causing sites to be removed.

You have two options

  1. Add the tags via `bcftools mpileup  -a 'AD,DP'`
  2. Remove the filter with `dng dnm auto -R 0` will remove the filter.

[2019-01-11 21:08] reedacartwright commented on #293
I believe that if you pass a pedigree file to `dng dnm` it will process all possible trio. However, vcf output is not supported if you do more than 1.

Alternatively, you can use `dng call` which can do joint calling on large pedigrees, allowing you to poll information across children and improving your power.

[2019-01-11 21:18] silvermoon8902 commented on #294
Thanks, reedacartwright. I still has a question:
Is there any difference between the two options? I mean is the DP involved in the calling of DNM?

[2019-01-11 21:19] reedacartwright commented on #294
I'm pretty sure that DP is not involved in the calling, only used to filter sites that don't pass a threshold.

[2019-01-11 21:53] silvermoon8902 commented on #294
It prompted me invalid option for -R or --R as follows:
DeNovoGear v1.1.1
auto: unrecognized option '--R'

My command is:
dng dnm auto --R 0 –ped s1347_trio1_dng.ped –vcf s1347_chr22.vcf –output_vcf s1347_chr22_trio1_dngout.vcf

[2019-01-11 21:58] silvermoon8902 commented on #293
Anyway, the sample size in .ped file can be less than in .vcf, right? As long each individual of .ped is in .vcf.
If it is so, denovogear only calls DNM in the samples of .ped file, right?

I am just wondering if I still need to regenerate the .vcf file trio by trio.

[2019-01-11 22:05] reedacartwright commented on #293
I don't actively use `dng dnm`. I believe that you can have everyone in a single VCF. And `dnm` will only select the columns that it needs.

[2019-01-11 22:06] reedacartwright commented on #294
I'm not sure what the option is on v1.1.1. Maybe `--rd_cutoff`?

[2019-01-12 02:25] silvermoon8902 commented on #294
yes, reedacartwright, the option is --rd_cutoff.
I got my first result output, thanks! But I am confused about the result. Here is a truncation of my result:
#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT  S13_02A_CHG000235
22      16097738        .       C       T       0       PASS    RD_MOM=43;RD_DAD=18;MQ_MOM=-2147483648;MQ_DAD=-2147483648;SNPcode=1;code=6;     NULL_CON

[2019-01-23 03:07] silvermoon8902 opened #296 "vcf input but prompted me bcf parsing error"
Hi,

I am using denovogear to do dnm calling. My command is as follow:

dng dnm auto --ped 35-02451_trio1.ped --vcf 35-02451_trio1_filtered_v1.vcf --output_vcf 35-02451_trio1_filtered_v1_dngout.vcf

Attached please find my .vcf and .ped files.

My command prompted me such error info:
DeNovoGear v1.1.1

output vcf file: 35-02451_trio1_filtered_v1_dngout.vcf
Created SNP lookup table
 First mrate: 1

[2019-01-23 16:51] reedacartwright commented on #296
Please try the develop branch and let us know if the error message still occurs.

[2019-01-25 23:11] silvermoon8902 commented on #296
But what's the flag for output vcf file in denovogear develop version? --output_vcf is not usable in the develop version. I checked its usage but didn't find the option:
Usage:
Autosomes:
        dng dnm auto --bcf bcf_f --ped ped_f [OR] dng dnm auto --vcf vcf_f --ped ped_f
X chromosome in male offspring:
        dng dnm XS --bcf bcf_f --ped ped_f [OR] dng dnm XS --vcf vcf_f --ped ped_f
X chromoso

[2019-01-25 23:24] reedacartwright commented on #296
It's towards the bottom.
[code]

[2019-01-26 00:02] silvermoon8902 commented on #296
reedacartwright, thanks so much for your help and I got my first dng result!!

But I am confused how to explain the result. Because it seems not all of the PP_DNM are high in the output file. The truth is most of the PP_DNM are close to 0. Should I still contain this portion of SNPs whose PP_DNM are close to 0 as DNM? Or I should consider those SNPs with PP_DNM more than 0.5 as DNM (because PP_DNM

[2019-01-26 00:07] reedacartwright commented on #296
I unfortunately can't provide many tips on converting the output of `dng dnm` into biological insight. I don't have experience working directly with the statistics outputted by `dng dnm`. My experience in analyzing mutations has been with the output of `dng call`.

[2019-01-26 00:07] reedacartwright commented on #296
Closing because your error message is fixed in the develop branch.

[2019-01-26 00:07] #296 closed, assigned to nobody

[2019-02-21 04:20] bthiruv opened #297 "GATK vcf as input for dng-dnm"
We are comparing the output of dng-dnm using samtools mpileup and GATK joint-genotyped vcf as input. We found some variants experimentally validated as de novo have small pp_dnm scores computed using GATK vcf as input while using mpileup bcf, the same variants have a high pp_dnm.

**Input vcf (sample order is mother, father, child) -**
chr1	111152316	.	A	G	804.97	PASS	AC=2;AF=0.250;AN=8;BaseQRankS

[2019-02-21 04:28] reedacartwright commented on #297
The difference is due to gatk and mpileup generating different vcfs at the
site. What do those files look like at this site?

On Wed, Feb 20, 2019, 21:20 bthiruv <notifications@github.com> wrote:

[2019-02-21 04:31] bthiruv commented on #297
The GATK vcf -
**Input vcf (sample order is mother, father, child) -**
chr1	111152316	.	A	G	804.97	PASS	AC=2;AF=0.250;AN=8;BaseQRankSum=-3.420e-01;ClippingRankSum=0.00;DP=134;ExcessHet=3.6798;FS=0.000;MLEAC=2;MLEAF=0.250;MQ=60.00;MQRankSum=0.00;QD=13.88;ReadPosRankSum=0.662;SOR=0.650;VQSLOD=21.25;culprit=MQ	GT:AD:DP:GQ:PGT:PID:PL	0/0:37,0:37:99:.:.:0,101,1093	0/0:38,0:38:33:.:.:0,33,495	0/1:16,10:

[2019-02-21 04:35] reedacartwright commented on #297
dng-dnm utilizes PL values. If you are getting different results then GATK
and mpileup are likely giving you different PL values. That is where I
would look at first.

On Wed, Feb 20, 2019, 21:31 bthiruv <notifications@github.com> wrote:

[2019-02-21 04:42] bthiruv commented on #297
The PL for the site from GATK is -
the parents - genotype 0/0 is 0,101,1093 and 0,33,495
the child - genotype 0/1 is 388,0,974.

AD for parents is 37,0 and 38,0 and for the child is 16,10.

Would this be a low confidence site?

[2019-02-21 04:45] bthiruv commented on #297
The SNPcode and code is different for GATK vcf and mpileup bcf as input. Not sure how to interpret the code.

[2019-02-21 04:56] reedacartwright commented on #297
Can you try the develop branch to see if it does the same thing?

On Wed, Feb 20, 2019, 21:45 bthiruv <notifications@github.com> wrote:

[2019-02-21 05:00] bthiruv commented on #297
Sure, will try that. And also generate the mpileup vcf.

[2019-04-04 17:47] sjin09 opened #298 "dng phaser for indels"
To whom it may concern,

I am writing to inquire whether "dng phaser --dnm dnm_f --pgt gts_file --bam alignment.bam --window 1000" can also be used to haplotype phase indels and somatic mutations. I have identified germline indels and somatic indels using gatk and strelka2. I would like to be able to use read-backed phasing to haplotype phase these indels, but the example (sample_phasing_dnm_f and

[2019-04-26 13:53] saliksyed commented on #290
I ran into this as well FYI

[code]

[2019-04-26 14:41] saliksyed opened #299 "Trio with Father, Sister, Brother -- getting missing trio messages -- is this normal?"
Hi All,

I am running a study with the following information:
-- Father (wild type, unaffected)
-- Child1  (male, proband, affected)
-- Child2 (female, affected)

I'd like to prioritize variants using denovogear and created the following .ped file:

[code]

When running denovogear I often get the following message:
[code]

Where N will vary between 1,2 or 3. Is this expected behavior? Why would it

[2019-05-22 19:01] tatianaliu opened #300 "snp or indel?"
Hey, we are using GATK4 plus denovogear/1.1.1 to calculate the denovo variants at whole genome level for a small cohort, but we are running into the issues of interpreting the output of denovogear.

here is one of the problematic sites form our original vcf file,the first sample is the offspring, and we used the dng dnm to call the denovo variants
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	290_

[2019-05-24 15:21] tatianaliu commented on #293
we've got a similar issue of this one, we called de novo variants by dnm, we tried two runs, one is VCF input includes all samples, the other one is VCF input excludes other samples except for the trios(3 samples). They both form a same pipeline and having the same genotypes, likelihood etc. the only difference is the size of the sample, then we got a different output from these two runs. the 3-sa

[2019-06-06 03:48] #299 closed, assigned to nobody

[2019-06-19 17:40] jwhitney31337 opened #301 "segfault on calls with larger alternates"
We encountered an issue where dng-dnm will segfault on certain VCF inputs.  I isolated a single call that elicits this problem - it is an unusually large insert, so presumably an issue with allocating a buffer of insufficient size somewhere?  This was reproduced with the latest develop branch commit 1a0966684d8e37732a8352dff61e93ca2c860e93.
Command (using files from attached [segfault.zip](https:/

[2019-07-16 11:33] Saranya-Balachandran opened #302 "[E::bcf_hdr_add_sample] Duplicated sample name '.' Aborted (core dumped)"
Hi,
On running dng dnm auto --vcf vcf_f --ped ped_f -w out.vcf,
I get [E::bcf_hdr_add_sample] Duplicated sample name '.' Aborted (core dumped)
On querying the sample names using bcftools I get three distinct sample names.
The bcf file has DP, PL record for each sample individually.

Kindly help in understanding this issue.
I'm runing in the denovogear developer mode

Regards,
Saranya

[2019-07-18 11:54] Saranya-Balachandran commented on #302
On running on the test data generated by make test in human_trio receiving the same error
dng dnm auto --ped human_trio/ped/trio.ped --vcf human_trio/bcftools/trio.call.vcf

[2019-07-18 12:49] reedacartwright commented on #302
The sample data you used is for dng call so the error is expected.

It appears you are using the wrong pedigree format for dng dnm. Can you
update to the format sorted by dng dnm?

On Thu, Jul 18, 2019, 07:54 Saranya-Balachandran <notifications@github.com>
wrote:

[2019-07-18 13:43] Saranya-Balachandran commented on #302
Please find below my ped format
##PEDNG v1.0
#ID Dad Mom Sex Samples
SID93046	.	.	2 =
SID93044	.	.	1 =
SID93041	SID93044	SID93046	1 =

[2019-07-18 13:55] reedacartwright commented on #302
That's the format recognized by dng-call.  To use dng-dnm follow the
instructions here:

https://github.com/ultimatesource/denovogear/blob/develop/README.md#about-sampleped

On Thu, Jul 18, 2019, 09:43 Saranya-Balachandran <notifications@github.com>
wrote:

[2019-07-18 14:06] Saranya-Balachandran commented on #302
Thank you!

[2019-07-18 14:06] #302 closed, assigned to nobody

[2019-07-25 22:45] #293 closed, assigned to nobody

[2019-07-25 22:46] #294 closed, assigned to nobody

[2019-07-25 22:47] reedacartwright commented on #298
I recommend using whatshap (https://whatshap.readthedocs.io/en/latest/) for read-backed phasing.

[2019-07-25 22:47] #298 closed, assigned to nobody

[2019-07-25 22:54] #300 closed, assigned to nobody

[2019-07-25 22:55] #297 closed, assigned to nobody

[2019-07-25 22:58] reedacartwright commented on #301
This project currently does not have the personale to maintain the legacy code in dng-dnm. I recommend seeing if dng-call suits your needs.

[2019-11-08 10:00] MurphyDavid opened #304 ""make testdata" fails, /denovogear/build/testdata.tar.gz hash doesn't match"
Hi

When trying to set up denovogear on my local machine I'm getting some errors.

Command series:

git clone https://github.com/ultimatesource/denovogear
cd denovogear/
cd build/
cmake -DCMAKE_BUILD_TYPE=Release ..
make -j4
make testdata

[code]

Most of the tests then fail but from the log it's the same hash failure followed by missing data causing most of the failures.

1:Build.testdata
8:DngCa

[2019-11-19 05:06] anushishah opened #305 "Allele frequency, Allele Depth & Reference Depth"
Hi,

Would it be please possible to print out following fields in the output file for dng dnm (trios)? Allele frequency, Allele Depth & Reference Depth?
Currently the output provides read depth for child, mother and father. I require distribution of Allele Depth & Reference Depth as well as Allele frequency (though AF can be calculated from Allele Depth & Reference Depth).

Thanks very much !

[2019-11-25 21:49] jgarciamesa commented on #288
Closing since I understand PR #295 fixed this. Feel free to reopen if issue persists.

[2019-11-25 21:49] #288 closed, assigned to jgarciamesa

[2020-02-24 11:00] stanedav opened #306 "Error 2 during compilation"
Hello I have problem during compilation (in develop branch):

my commands were:
[code]

Could you help me to compile it properly?

Here is CMakeError.log
[code]

[2020-02-27 14:16] exeter-matthew-wakeling opened #307 "Having trouble getting non-empty output"
I'm trying to run denovogear on a WGS trio, and I'm not getting any variants in the output file. I'd appreciate any suggestions of what I may be doing wrong.

Our samples are called WG0840 (proband), WG0841 (mother), and WG0842 (father), and they were sequenced with 100bp paired-end reads with mean read depth of 50X on a BGISeq-500. The reads were aligned with BWA MEM (version 0.7.15), and process

[2020-02-27 14:16] exeter-matthew-wakeling opened #308 "Having trouble getting non-empty output"
I'm trying to run denovogear on a WGS trio, and I'm not getting any variants in the output file. I'd appreciate any suggestions of what I may be doing wrong.

Our samples are called WG0840 (proband), WG0841 (mother), and WG0842 (father), and they were sequenced with 100bp paired-end reads with mean read depth of 50X on a BGISeq-500. The reads were aligned with BWA MEM (version 0.7.15), and process

[2020-02-27 14:17] exeter-matthew-wakeling commented on #308
Duplicated by a network error.

[2020-02-27 14:17] #308 closed, assigned to nobody

[2020-03-30 05:23] reedacartwright commented on #306
Can you test the latest version of develop? There were issues with dependencies not being resolved by CMake. See  #310.

[2020-03-30 05:24] reedacartwright commented on #307
dng dnm is no longer supported because it was developed for an older version of samtools.

[2020-03-30 05:24] #307 closed, assigned to nobody

[2020-04-17 16:20] mariliascliar opened #311 "bam file for dng-phaser"
Hi, I´m trying to run dng-phaser but it seems it is not reading the bam file at all. When I include the --bam flag, dng-phaser return the result below. Independent if I specify the pathway for bam file or not, the result is the same. When I don´t include the --bam flag, it return an error "INPUT ERROR! Please specify the list of DNMs, list of Parental GTs and the BAM file!"

Do you have any sugges

[2020-04-17 23:11] reedacartwright commented on #311
dng-phaser is not supported any more. I recommend that you try whatshap https://whatshap.readthedocs.io/en/latest/guide.html instead of phaser.

[2020-04-17 23:11] #311 closed, assigned to nobody

[2020-09-29 11:00] pd3 opened #312 "Why 414 and other question about DNG math"
Hi, I was looking at the DNG math and the implementation and can't figure out where the 414 term in this expression https://github.com/ultimatesource/denovogear/blob/develop/src/dnm/makeLookup.cc#L260 comes from? The comment suggest that 414 is the number of all triallelic cases, but I don't think that is true, as there are 552 trio configurations with 3 alleles.

[2020-09-29 20:15] reedacartwright commented on #312
Honestly, I don't know. At this point the DNM code is over ten years old, and the people who developed the model haven't been active with DNG development for years.

[2020-09-30 10:06] pd3 commented on #312
Thank you. I am adding more questions in case someone could explain:
- In the supplementary material of your 2011 Nature Genetics paper, page 11, the L(G_1,G_2) calculation sometimes use the factor of 0.002 and sometimes 0.001. I don't immediately see what is the reason for 0.001, apart for being half of 1-0.998=0.002. In other words, what is the rule for where to use 0.002 or 0.001?
https://stati

[2021-04-29 14:18] StellaXia opened #313 "Denovogear and DenovogearBB"
Hi,

It is mentioned in the Denovogear paper that the software implements Denovogear (using SAMTools genotype likelihoods) and DenovogearBB (beta binomial based likelihoods). Actually, I'd like to implement DenovogearBB but not Denovogear.

I'm wondering how to distinguish DenovogearBB with Denovogear, taking the folloing code as an example.

bcftools mpileup -a 'AD,DP' \
-r chr8 -f Homo_sapiens_a

[2021-05-04 18:17] reedacartwright commented on #313
I no longer support `dng-dnm`. You can try using `dng-call` which uses a dirichlet-multinomial for genotype likelihoods.

[2021-10-06 17:01] Lin-Yuying opened #314 "No outputs"
Hi there,

I encountered an issue recently when using dng-call function in DenovoGear v1.1.1 with command line
`dng-call -f /home/ref/ref.fa -q 30 -Q 30 --ped FR24.ped P271.mark_duplicates.bam P433.mark_duplicates.bam P444.mark_duplicates.bam ...P452.mark_duplicates.bam -o test.vcf` and also tried `dng-call -f /home/ref/ref.fa -q 30 -Q 30 --ped family.ped -s family.samfiles -o test.vcf` . However,

[2021-10-08 23:54] reedacartwright commented on #314
Can you check to see if this issues persists with the `develop` branch?

[2021-10-12 00:27] Lin-Yuying commented on #314
Hi Reed,

Thanks for your reply. I actually used the Mac version of DenovoGear, and cannot find any branch in the directory. Could you please provide more details of this kind of error?
Thanks!

Lin

[2021-10-12 22:59] reedacartwright commented on #314
The source code for the develop branch can be downloaded from here: https://github.com/ultimatesource/denovogear/archive/refs/heads/develop.zip

I suspect that if you aren't getting any out that your read group information in your bam files do not match the information in your pedigree file.

[2022-03-24 01:23] bucongfan opened #315 "Any suggestion for dnm results filter?"
Should I using PP_dnm to filter confidence results?
Thanks!

[2022-05-22 00:38] Lin-Yuying commented on #314
Hi there,

I solved this issue by replacing '=' with samples names in family ped files.

[2022-05-22 00:38] #314 closed, assigned to nobody